* {
    box-sizing: border-box;
}

.container-fluid {
    /* width: 100%; */
    padding: 0px;
}

.contact {
    display: flex;
}

.nav-top {
    display: flex;
    padding: 20px;
}

.contact a {
    color: #717379;
}

.about {
    float: right;
}

.contact i {
    color: #fea116;
}

a:hover {
    color: #fea116;
}

.about>i,
a {
    margin-right: 10px;
    text-decoration: none;
    color: #717379;
    cursor: pointer;
}

.about>a :hover {
    color: #fea116;
    cursor: pointer;
}

.navbar-bottom {
    background-color: #0f172b;
    color: #ffff;
    width: 100%;
    margin: 0px;
}

.nav-bot {
    padding: 0px;
    display: flex;
}

.nav-right {
    display: inline-block;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
}

.nav-item:nth-child(1) {
    margin-left: auto;
}

.navbar-toggler {
    background-color: #ffff;
}

.nav-item>a {
    color: #ffff;
}

.fa-circle {
    font-size: 20px;
    color: #1e2c8a;
    text-align: center;
}

.nav-bot .search-btn button {
    background-color: #0f172b;
    color: #ffff;
    border: none;
}

.get-quote {
    background-color: #fea116;
    display: flex;
    height: 100px;
    line-height: 100px;
    padding: 0px 20px;
    border: none;
    box-sizing: border-box;
}

.navbar-big {
    position: relative;
}

.logo {
    position: relative;
    top: 50%;
    left: 4%;
    transform: translate(0%, -50%);
}

.img-content {
    background-color: #fea116;
    border-radius: 50px;
    color: #ffff;
    width: 300px;
    height: 100px;
}

.img-content img {
    color: #ffff;
    margin-right: 10px;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-content-sm h1 {
    margin: 0px;
    font-size: 40px;
}

.img-content-sm p {
    margin-top: -5px;
    font-size: 12px;
}

.poster {
    height: 600px;
    background-color: #404551;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title-sm p {
    font-size: 40px;
    margin: 0px;
    z-index: 2;
}

.title-sm {
    z-index: 2;
    margin-bottom: 40px;
}

.title-big p {
    margin-right: 0px;
    font-size: 170px;
    padding: 0px;
    z-index: 6;
}

.title-big {
    z-index: 5;
    margin-top: -50px;
}

.get-startd button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
}

.get-startd {
    z-index: 8;
}

.text-shadow {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-shadow p {
    color: #404551;
    display: flex;
    font-size: 280px;
    -webkit-text-stroke: 0.5px #717379;
}
