li
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Deatils</title>
    <!-- <link rel="stylesheet" href="css/jquery-ui.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>
    <div>

        <main>
            <div class="main-room">
                <div class="container">
                    <div class="row">
                        <div class="col-8 col-md-8 col-sm-12 col-12">
                            <div class="square-top-room">
                                <span class="span-room">$180</span>
                            </div>
                            <div class="main-buttom">
                                <button>Guest House</button>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-sm-12 col-12">
                            <div class="square-right-room">
                                <div class="span-div-right">
                                    <span class="span-room-right">$162.00
                                        <span>Night</span>
                                    </span>
                                </div>
                                <div class="container">
                                    <form action="">
                                        <div class="form-rigt-room">

                                            <div class="form-item-room">
                                                <div class="input-item">
                                                    <input class="input-form-room" type="search" placeholder="Search">
                                                </div>
                                                <div class="i-input-form ">
                                                    <button> <i class="fas fa-search"></i></button>
                                                </div>
                                            </div>

                                            <div class="form-item-room">
                                                <div class="input-item">
                                                    <input id="txtTimer" name="txtTimer" class="input-form-room" type="text" placeholder="Arrive Date">
                                                </div>
                                                <div class="i-input-form-calendar i-input-form ">
                                                    <button> <i class="fas fa-calendar-alt"></i></button>
                                                </div>
                                            </div>

                                            <div class="form-item-room">
                                                <div class="input-item">
                                                    <input id="txtTimer1" name="txtTimer1" class="input-form-room" type="text" placeholder="Depart Date">
                                                </div>
                                                <div class="i-input-form-calendar i-input-form ">
                                                    <button> <i class="fas fa-calendar-alt"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-item-room">
                                                <input class="input-form-room" type="" placeholder="Guests">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-8 col-sm-12 col-12 txt-p-room-div ">
                            <h1>Modern Gest Rooms</h1>
                            <div>
                                <ul class="nav">
                                    <li><a href="javascrip:void(0)"><i class="fa-solid fa-ruler-triangle">3 Bed</i></a></li>
                                    <li><a href="javascrip:void(0)"><i class="fa-solid fa-ruler-triangle">2 Baths</i></a></li>
                                    <li><a href="javascrip:void(0)"><i class="fa-solid fa-ruler-triangle">72 m</i></a></li>

                                </ul>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                                ex ea comm odi consequatur</p>
                        </div>
                        <div class="col-4 col-md-4 col-sm-12 col-12">
                            <div class="col4-item-category">
                                <div class="container all-squera-cate ">
                                    <h2>Category</h2>
                                    <div class="col4-squera-category">
                                        <div class="text-category">Luxury Room</div>
                                    </div>
                                    <div class="col4-squera-category">
                                        <div class="text-category">Couple Room</div>
                                    </div>
                                    <div class="col4-squera-category">
                                        <div class="text-category">Hotel views</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-md-8 col-sm-12 col-12  text-col8-room">
                            <div style="background-color: #c6c6c6;height: 430px;">
                            </div>
                            <div class="room-conten-col8">
                                <div class="row">
                                    <div class="col-4 col-md-4 col-sm-12 col-12">
                                        <h2 style="font-weight: bold;">Pricing Plan</h2>
                                        <ul class="ul-main-room">
                                            <li>Nightly: <span class="span-ul-room">$525</span></li>
                                            <li>Weekends(Sat_sun): <span class="span-ul-room">$535</span></li>
                                            <li>Weddkly(7d+): <span class="span-ul-room">$515</span></li>
                                            <li>Monthly(30d+): <span class="span-ul-room">$505</span></li>
                                            <li>Security Deposit: <span class="span-ul-room">$1,050</span></li>
                                            <li>Additional Guests: <span class="span-ul-room">$525</span></li>
                                            <li>Additional Guests: <span class="span-ul-room">Yes</span></li>
                                            <li>Cleaning Fee: <span class="span-ul-room">$1,050</span><br>
                                            </li>
                                            <li><span class="span-ul-room">Per Stay</span><br></li>
                                            <li>City Fee: <span class="span-ul-room">$25 Per Stay</span></li>
                                            <li>Minimun Nember Of Days: <span class="span-ul-room">1</span></li>
                                            <li>Minimun Nember Of Days: <span class="span-ul-room">60</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-4 col-md-4 col-sm-12 col-12">

                                        <div>
                                            <h2 style="font-weight: bold;"> Features</h2>
                                            <ul class="ul-main-room">
                                                <li>Gym</li>
                                                <li>Laundry</li>
                                                <li>Tv Cable</li>
                                                <li>Wi-Fi</li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h2 style="font-weight: bold;"> Facilities</h2>
                                            <ul class="ul-main-room">
                                                <li>Farmacy</li>
                                                <li>Free Parking</li>
                                                <li>Reception</li>
                                                <li>Security</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-4 col-sm-12 col-12">
                                        <div>
                                            <h2 style="font-weight: bold;"> Features</h2>
                                            <ul class="ul-main-room">
                                                <li><a href="">Master Room</a></li>
                                                <li><a href="">1 King Size</a></li>
                                                <li><a href="">2 Guests</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h2 style="font-weight: bold;"> Bedroom</h2>
                                            <ul class="ul-main-room">
                                                <li><a href="">1 Queen Size</a></li>
                                                <li><a href="">2 Guests</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 col-md-4 col-sm-12 col-12">
                            <div class="col4-bootom-childs">
                                <div class="container ">
                                    <div class="item-col4-bootom-childs">
                                        <h2>Booking Your Latest apartment
                                        </h2>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit sed do eiusmod tempor incididunt ut labore
                                        </p>
                                        <button class="btn-book">BOOK NOW <i class="fas btn-i-room fa-arrow-right"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-room">
                <span>Latest Product</span>
                <h1>Explore Latest Product</h1>
                <div class="container">

                    <div class="row">
                        <div class="col-4 col-md-4 col-sm-6 col-12">
                            <div class="footer-squeare">
                                <div class="conten-fotter-rom">Guest House</div>
                            </div>
                            <div class="conten-foter-all">
                                <div class="conten-foter">
                                    <h2>Mdodern Guest Rooms</h2>
                                    <p>Avoids pleasure itself, because pleasure, but because those who do not know how to pursue pleasure rationally encounter </p>
                                </div>
                                <div class="ul-rom-fot">
                                    <ul class="nav">
                                        <li>3 Bed</li>
                                        <li>2 Baths</li>
                                        <li>72 m</li>
                                    </ul>
                                </div>
                                <button class="btn-fot-price">$180.00</button>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-sm-6 col-12">
                            <div class="footer-squeare">
                                <div class="conten-fotter-rom">Guest House</div>
                            </div>
                            <div class="conten-foter-all">
                                <div class="conten-foter">
                                    <h2>Conference Room</h2>
                                    <p>Great explorer of the truth, the master- builder of human happiness one rejects, dislikes avoids pleasure because </p>
                                </div>
                                <div class="ul-rom-fot">
                                    <ul class="nav">
                                        <li>3 Bed</li>
                                        <li>2 Baths</li>
                                        <li>72 m</li>
                                    </ul>
                                </div>
                                <button class="btn-fot-price">$205.00</button>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-sm-6 col-12">
                            <div class="footer-squeare">
                                <div class="conten-fotter-rom">Guest House</div>
                            </div>
                            <div class="conten-foter-all">
                                <div class="conten-foter">
                                    <h2>Deluxe Couple Room</h2>
                                    <p>Provident, similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum fuga. Et harum quidem </p>
                                </div>
                                <div class="ul-rom-fot">
                                    <ul class="nav">
                                        <li>3 Bed</li>
                                        <li>2 Baths</li>
                                        <li>72 m</li>
                                    </ul>
                                </div>
                                <button class="btn-fot-price">$180.00</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </main>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




</body>

</html>