* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.square-top-room {
    height: 500px;
    background-color: #4f4f4f;
    position: relative;
}

.text-col8-room {
    position: relative;
    top: -200px;
}

.txt-p-room-div p {
    font-size: 18px;
    line-height: 30px;
    color: #666565;
    text-align: justify;
}

.span-room {
    position: absolute;
    background-color: #fea116;
    color: #fff;
    border-radius: 3px;
    height: 50px;
    width: 120px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    right: 30px;
    top: 30px;
}

.square-right-room {
    height: 500px;
    background-color: #f1f8ff;
}

.span-div-right {
    background-color: #fea116;
    width: 100%;
    height: 70px;
    text-align: center;
}

.span-room-right {
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.span-room-right>span {
    font-size: 15px;
    font-weight: 500;
}

.span-room-right h5 {
    display: flex;
}

.form-item-room {
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.input-item {
    position: relative;
}

.i-input-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.i-input-form button {
    border: none;
    background-color: #fff;
    color: #fea116;
    font-size: 16px;
}

.input-form-room {
    width: 100%;
    height: 55px;
    padding: 20px;
}

.ul-header-room {
    top: 56%;
    left: 505px;
}

.main-buttom button {
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    padding: 5px;
    font-size: 17px;
    background: #fea116;
}

.main {
    margin-top: 130px;
}

.main-room {
    margin-top: 130px;
}

.ul-main-room {
    padding: 0px;
    margin: 0px;
}

.ul-main-room li {
    margin: 10px 0;
    position: relative;
}

.span-ul-room {
    right: 5px;
    position: absolute;
}

.room-conten-col8 {
    margin-top: 55px;
}

.all-squera-cate>h2 {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.col4-item-category {
    background-color: #f1f8ff;
    height: 600px;
    margin-top: 10px;
}

.col4-squera-category {
    background: linear-gradient(to top, #1c1c1c, #767676);
    height: 130px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.text-category {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    bottom: 10px;
    left: 20px;
}

.col4-bootom-childs {
    background-color: #363d4d;
    height: 540px;
    margin-top: 40px;
    padding: 48px;
}

.item-col4-bootom-childs {
    text-align: center;
}

.item-col4-bootom-childs h2 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
    margin-bottom: 40px;
}

.item-col4-bootom-childs>p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
}

.btn-book {
    background: #fea116;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
}

.btn-book:hover {
    background-color: aquamarine;
    color: #fea116;
}

.footer-squeare {
    background-color: #6e6e6e;
    height: 253px;
    width: 100%;
    position: relative;
}

.footer-room span {
    color: #fea116;
    font-size: 20.02px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    display: block;
}

.footer-room h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 58px;
    color: #0f172b;
    margin-bottom: 90px;
    margin-top: 40px;
    text-align: center;
}

.conten-fotter-rom {
    position: absolute;
    bottom: -10px;
    left: 50px;
    background-color: #fea116;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
}

.conten-foter-all {
    padding: 0px 38px;
    margin-top: 30px;
}

.conten-foter h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.conten-foter p {
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}

.ul-rom-fot li {
    margin-right: 35px;
}

.btn-fot-price {
    background-color: #fea116;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
}
