<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="css/home.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>

<body>
    <div id="main">
        <div class="">
            <footer>
                <div class="footer-container">
                    <div class="footer-top ">
                        <div class=" footer-top1 row ">
                            <div class="foot-top1 col-lg-2 col-md-4 col-sm-6">
                                <img src="assets/img/img-home/01.png" alt="">
                            </div>
                            <div class="foot-top1 col-lg-2 col-md-4 col-sm-6">
                                <img src="assets/img/img-home/02.png" alt="">
                            </div>
                            <div class="foot-top1 col-lg-2 col-md-4 col-sm-6">
                                <img src="assets/img/img-home/03.png" alt="">
                            </div>
                            <div class="foot-top1 col-lg-2 col-md-4 col-sm-6">
                                <img src="assets/img/img-home/04.png" alt="">
                            </div>
                            <div class="foot-top1 col-lg-2 col-md-4 col-sm-6">
                                <img src="assets/img/img-home/05.png" alt="">
                            </div>
                            <div class="foot-top1 col-lg-2 col-md-4 col-sm-6">
                                <img src="assets/img/img-home/06.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="footer-big">
                        <div class="footer-big1 row">
                            <div class="foot-big1 col-lg-4 col-md-6">
                                <div class="foot-logo">
                                    <div class="img-content">
                                        <img src="assets/img/img-home/Icon.png" alt="">
                                        <div class="img-content-sm">
                                            <h1>AVSON</h1>
                                            <p>Hotel & Room Services</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="foot-des1-1">
                                    <p>Avoids oleasure itself, because pleasure, but because those who do not</p>
                                </div>
                                <div class="foot-icon4-1-1">
                                    <div class="icon-mini">
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                    <div class="icon-mini">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="icon-mini">
                                        <i class="fab fa-youtube"></i>
                                    </div>
                                    <div class="icon-mini">
                                        <i class="fab fa-instagram"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="foot-big1 col-lg-4 col-md-6">
                                <div class="foot-title1-2">
                                    <h2>Quick Links</h2>
                                    <div class="row ">
                                        <div class="col-6 foot-des-1-2">
                                            <p>Latest Services</p>
                                            <p>Need A Career</p>
                                            <p>Need A Career</p>
                                            <p>Need A Career</p>
                                            <p>Need A Career</p>
                                            <p>Need A Career</p>
                                        </div>
                                        <div class="col-6 foot-des-1-2">
                                            <p>Latest Services</p>
                                            <p>Need A Career</p>
                                            <p>Need A Career</p>
                                            <p>Need A Career</p>
                                            <p>Need A Career</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="foot-big1 col-lg-4 ">
                                <h2>Recent News</h2>
                                <div class="foot-des-1-3">
                                    <div class="foot-des-1-3-1">
                                        <div class="box-while"></div>
                                        <div class="des-1-3-1">
                                            <p>Using Low Vision As My Too Me Teach WordPress</p>
                                            <p>CS Jan 20</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="foot-des-1-3">
                                    <div class="foot-des-1-3-1">
                                        <div class="box-while"></div>
                                        <div class="des-1-3-1">
                                            <p>Using Low Vision As My Too Me Teach WordPress</p>
                                            <p>CS Jan 20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="foot-big">
                        <div class="line"></div>
                        <div class="footer-big2 row">
                            <div class="foot-2-1 col-md-6">
                                <p>Home</p>
                                <p>About</p>
                                <p>Services</p>
                                <p>Team</p>
                                <p>Features</p>
                            </div>
                            <div class="foot-2-2 col-md-6 text-end">
                                <p>Copyright @2020. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/home.js"></script>
</body>

</html>
