.footer-container {
    background-color: #0f172b;
    width: 100%;
}

.footer-big {
    width: 100%;
    color: #ffff;
}

.footer-big1 {
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
}

.foot-logo {
    background-color: #fea116;
    width: 280px;
    height: 100px;
    background-color: #fea116;
    border-radius: 50px;
    color: #ffff;
    margin-bottom: 20px;
}

.foot-des1-1,
.foot-des-1-2,
.des-1-3-1 {
    font-size: 13px;
    color: #717379;
}

.foot-icon4-1-1 {
    display: flex;
}

.icon-mini {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #717379;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #717379;
}

.icon-mini:hover {
    background-color: #fea116;
    color: #ffff;
    cursor: pointer;
}

.footer-big1>.foot-big1:nth-child(2) {
    padding: 0px 20px;
}

.foot-title1-2 h2 {
    margin-bottom: 20px;
}

.foot-des-1-2 p:hover {
    color: #fea116;
    box-shadow: 0 2px #fea116;
    cursor: pointer;
}

.foot-des-1-3-1 {
    display: flex;
}

.box-while {
    width: 120px;
    height: 80px;
    background-color: #ffff;
    border-radius: 5px;
    margin-right: 20px;
}

.des-1-3-1>p:nth-child(1):hover {
    color: #ffff;
    cursor: pointer;
}

.footer-big1>.foot-big1:nth-child(3) {
    padding-left: 40px;
}

.footer-big1>.foot-big1>h2 {
    margin-bottom: 20px;
}

.foot-big {
    width: 100%;
}

.line {
    background-color: #717379;
    height: 1px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.footer-big2 {
    background-color: #0f172b;
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 50px;
    justify-content: space-between;
}

.foot-2-1 {
    display: flex;
}

.foot-2-1 p {
    margin-right: 20px;
    color: #717379;
}

.foot-2-1>p:hover {
    color: #ffff;
    cursor: pointer;
}

.foot-2-2 p {
    color: #717379;
}

@media (min-width: 1200px) {}

.footer-top {
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: #fea116;
    color: #f1f8ff;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.footer-top1 {
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.foot-top1 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.foot-top1 img {
    font-size: 40px;
    color: black;
    padding: 15px 0px;
}

.footer-blog {
    margin: 0 auto;
    background-color: #fea116;
}
