<div class="container">
    <h1 style="text-align: center;margin: 20px;">Danh sách </h1>
    <table border="1" width="100%" cellpadding="5" cellspacing="0" width="100%">
        <tr>
            <th>Stt</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let item of data; let i = index ">
            <td>{{i+1}}</td>
            <td>{{item.rooom.name}}</td>
            <td>{{item.rooom.price}}</td>
            <td><img src="{{item.rooom.Image}}" alt=""></td>
            <!-- checkout -->
            <td>
                <button class="btn-checkout" (click)="deleteCarts(i)">Dell</button><br>
                <button class="btn-checkout"> <a routerLink="/room-grid">Add</a></button>
            </td>
        </tr>

        <tr *ngIf="data.length == 0">
            <td colspan="5">Không có sản phẩm nào trong giỏ hàng</td>
        </tr>
    </table>
</div>