<div class="poster-big">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="poster">
                    <div class="text-shadow">
                        <p> check out</p>
                    </div>
                    <div class="title-sm">
                        <p> Welcome to Avason</p>
                    </div>
                    <div class="title-big">
                        <p> Check Out</p>
                    </div>
                    <div class="get-startd">
                        <button type="button">GET STARTED -></button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="poster">
                    <div class="text-shadow">
                        <p> check-out</p>
                    </div>
                    <div class="title-sm">
                        <p> Welcome to Avason</p>
                    </div>
                    <div class="title-big">
                        <p> Check Out</p>
                    </div>
                    <div class="get-startd">
                        <button type="button">GET STARTED -></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="z-index: 100;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="z-index: 100;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
<div class="main-checkOut" style="padding-top: 1s50px;">
    <h1 style="text-align: center;">Danh sách </h1>
    <table border="1" width="100%" cellpadding="5" cellspacing="0" width="100%">
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>Price</th>
            <th>Image</th>
            <th>action</th>
        </tr>
        <tr *ngFor="let item of data">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><img src="{{item.Image}}" alt=""></td>

        </tr>
        <tr *ngIf="data.length==0">
            <td colspan="5"> không có sản phẩm nào trong giỏ hàng</td>
        </tr>
    </table>
</div>
