<div class="container-fluid">
  <div class="poster-big">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="poster">
                    <div class="text-shadow">
                        <p> About</p>
                    </div>
                    <div class="title-sm">
                        <p> Welcome to Avason</p>
                    </div>
                    <div class="title-big">
                        <p style="font-weight: bold;"> About Us</p>
                    </div>
                    <div class="get-startd">
                        <button type="button">GET STARTED -></button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="poster">
                    <div class="text-shadow">
                        <p> Avson</p>
                    </div>
                    <div class="title-sm">
                        <p> Welcome to Avason</p>
                    </div>
                    <div class="title-big">
                        <p> Luxury Living</p>
                    </div>
                    <div class="get-startd">
                        <button type="button">GET STARTED -></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="z-index: 100;">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="z-index: 100;">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
    </div>
</div>
  <main>
    <div class="mnm">
      <div class="main">
        <div class="container">
            <div class="text-1-1">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="abc">
                            <div class="text-about-us">
                                <p>About Us</p>
                            </div>
                            <div class="text-welcome">
                                <p>Welcome To Avson Modern Hotel Room Sells Servicres</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="abc">
                            <div class="text-introduce">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam commodi vero reiciendis quasi nesciunt in esse sequi? Autem ab beatae in, dolor voluptatem maiores iure itaque totam harum repellendus fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis qui aliquam? Necessitatibus dolores a tempore! Voluptates</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur enim pariatur dolores ipsa odio corrupti commodi illo, vitae dolorem accusantium quia voluptatem illum aliquam in dolorum iusto. Rerum, omnis necessitatibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-tranform-img">
                <div row>
                    <div class="col-12">
                        <div class="iteam-col12">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="main-2">
                        <div class="row">
                            <div class="col-xl-6 col-md-12">
                                <div class="iteam-col5">
                                    <div class="iteam-col5-text-1">
                                        <p>An Professional Hotel Living Sevice Provider Company</p>
                                    </div>
                                    <div class="iteam-col5-text-2">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis officia sapiente eum at deleniti expedita praesentium earum nesciunt itaque voluptatem facilis doloribus aperiam aliquam non soluta atque vel, nulla odit?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ratione excepturi, architecto itaque recusandae sint necessitatibus placeat reiciendis non quibusdam sequi ea ipsa iste repudiandae officia labore similique, iusto est.
                                    </div>
                                    <div class="get-startdcc">
                                        <button type="button" class="">GET STARTED -></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="icon-number-text">
                                            <div class="min-icon">
                                                <img src="assets/img/img/Icon.png" alt="">
                                            </div>
                                            <div class="min-number">
                                                560
                                            </div>
                                            <div class="min-text">
                                                <p>Luxury Appartment</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="icon-number-text">
                                            <div class="min-icon">
                                                <img src="assets/img/img/Icon2.png" alt="">
                                            </div>
                                            <div class="min-number">
                                                325
                                            </div>
                                            <div class="min-text">
                                                <p>Luxury Appartment</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="bg-image">
                <div class="styte-bg">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="feature-post">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="feature-iteam">
                            <div class="feature-img">
                                <div><img class="img-house" src="assets/img/img/download.jpeg" alt=""></div>
                            </div>
                            <div class="feature-text1-text2">
                                <div class="feature-text1">
                                    <p>Company Mission</p>
                                </div>
                                <div class="feature-text2">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum iste laudantium, a dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit.e.</p>
                                </div>
                                <a href="">Read More -></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="feature-iteam">
                            <div class="feature-img">
                                <div><img class="img-house" src="assets/img/img/download.jpeg" alt=""></div>
                            </div>
                            <div class="feature-text1-text2">
                                <div class="feature-text1">
                                    <p>Company Mission</p>
                                </div>
                                <div class="feature-text2">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum iste laudantium, a dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit.e.</p>
                                </div>
                                <a href="">Read More -></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="feature-iteam">
                            <div class="feature-img">
                                <div><img class="img-house" src="assets/img/img/download.jpeg" alt=""></div>
                            </div>
                            <div class="feature-text1-text2">
                                <div class="feature-text1">
                                    <p>Company Mission</p>
                                </div>
                                <div class="feature-text2">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum iste laudantium, a dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit.e.</p>
                                </div>
                                <a href="">Read More -></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <div class="conten-explore">
                    <div class="conten-explore-text1">
                        <p>Popular Features</p>
                    </div>
                    <div class="conten-explore-text2">
                        <p>Explore Out Hotels Bennefits</p>
                        <p>Why Take Our Sevices</p>
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="feature2-iteam">
                        <div class="feature2-icon">
                            <div><img src="assets/img/img/icon3.png" alt=""></div>
                        </div>
                        <div class="feature2-text1">
                            <p>Food & Drink</p>
                        </div>
                        <div class="feature2-text2">
                            <p>Has anny right to find fault with man</p>
                            <p>who chooses to ẹnoy a pleasure that</p>
                            <p>has no annoying conseque</p>
                        </div>
                        <a href="">Read More -></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="feature2-iteam">
                        <div class="feature2-icon">
                            <div><img src="assets/img/img/icon4.png" alt=""></div>
                        </div>
                        <div class="feature2-text1">
                            <p>Food & Drink</p>
                        </div>
                        <div class="feature2-text2">
                            <p>Has anny right to find fault with man</p>
                            <p>who chooses to ẹnoy a pleasure that</p>
                            <p>has no annoying conseque</p>
                        </div>
                        <a href="">Read More -></a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="feature2-iteam">
                        <div class="feature2-icon">
                            <div><img src="assets/img/img/icon5.png" alt=""></div>
                        </div>
                        <div class="feature2-text1">
                            <p>Food & Drink</p>
                        </div>
                        <div class="feature2-text2">
                            <p>Has anny right to find fault with man</p>
                            <p>who chooses to ẹnoy a pleasure that</p>
                            <p>has no annoying conseque</p>
                        </div>
                        <a href="">Read More -></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="bg-acbcxyz">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="conten-explore" style="margin-top: 130px;">
                                <div class="conten-explore-text1">
                                    <p>Popular Features</p>
                                </div>
                                <div class="conten-explore-text2">
                                    <p>Explore Out Hotels Bennefits</p>
                                    <p>Why Take Our Sevices</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature3-iteam">
                                <div class="feature3-iteam-padding">
                                    <div class="feature3-iteam-text1">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus molestiae nemo nisi facilis minima veniam illo quos, sunt eos asperiores numquam nobis corporis non rerum. Maxime recusandae </p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="feature3-iteam-icon">
                                            <img src="assets/img/img/Line .png" alt="">
                                        </div>
                                        <div class="feature3-iteam-text2">
                                            James M. varney
                                        </div>
                                    </div>
                                    <div class="feature3-iteam-icon2">
                                        <img src="assets/img/img/Icon7.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature3-iteam">
                                <div class="feature3-iteam-padding">
                                    <div class="feature3-iteam-text1">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus molestiae nemo nisi facilis minima veniam illo quos, sunt eos asperiores numquam nobis corporis non rerum. Maxime recusandae </p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="feature3-iteam-icon">
                                            <img src="assets/img/img/Line .png" alt="">
                                        </div>
                                        <div class="feature3-iteam-text2">
                                            James M. varney
                                        </div>
                                    </div>
                                    <div class="feature3-iteam-icon2">
                                        <img src="assets/img/img/Icon7.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</div>
