.container-fluid {
    width: 100%;
    padding: 0px;
}


/********** POSTER  **********/

.poster {
    height: 700px;
    background-color: #404551;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title-sm p {
    font-size: 40px;
    margin: 0px;
    z-index: 2;
}

.title-sm {
    z-index: 2;
    margin-bottom: 40px;
}

.title-big p {
    margin-right: 0px;
    font-size: 170px;
    padding: 0px;
    z-index: 6;
}

.title-big {
    z-index: 5;
    margin-top: -50px;
}

.get-startdcc button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
}

.get-startdcc {
    z-index: 8;
}

.text-shadow {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-shadow p {
    color: #404551;
    display: flex;
    font-size: 280px;
    -webkit-text-stroke: 0.5px #717379;
}

main {
    margin-top: 130px;
}

.text-about-us {
    color: rgb(254, 161, 22);
    float: right;
    font-size: 18px;
}

.text-welcome {
    font-weight: bold;
    font-size: 50px;
    float: left;
    color: rgb(15, 23, 43);
}

.text-introduce {
    font-size: 18px;
}

.abc {
    padding: 0 20px;
}

.text-1-1 {
    margin-bottom: 70px;
}

.iteam-col12 {
    position: relative;
    width: 1170;
    height: 572px;
    background-color: rgb(30, 44, 128);
}

.iteam-col5 {
    /* position: absolute; */
    transform: translateY(-25%);
    margin-left: 70px;
    background-color: rgb(241, 248, 255);
    padding: 65px;
}

.get-startd button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    margin-top: 30px;
    float: left;
}

.get-startd {
    padding-bottom: 80px;
}

.iteam-col5-text-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

.icon-number-text {
    text-align: center;
    padding-top: 100px;
}

.min-number {
    font-size: 60px;
}

.bg-tranform-img {
    margin-bottom: 130px;
}

.bg-image {
    /* background: url('../asset/img/img/03_About_Us_02.jpg') ; */
    /* background-color: blue; */
    height: 661px;
}

.feature-iteam {
    transform: translateY(-250px);
    background-color: rgb(255, 255, 255);
}

.img-house {
    width: 100%;
    height: 250px;
}

.feature-text1-text2 {
    padding: 30px 25px;
}

.feature-text1-text2>a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
}

.feature-text1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}

.conten-explore {
    text-align: center;
    margin-bottom: 70px;
}

.conten-explore-text1 {
    color: rgb(254, 161, 22);
    font-weight: bolder;
}

.conten-explore-text2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 25px;
}

.feature2-iteam {
    padding: 80px 10px;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(233, 233, 234);
    margin-bottom: 130px;
    box-shadow: 6px 6px 0px rgb(233, 233, 234);
}

.feature2-text1 {
    font-weight: bold;
    font-size: 25px;
}

.feature2-iteam a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.bg-acbcxyz {
    height: 1210px;
    background: rgb(241, 248, 255);
}

.feature3-iteam {
    background-color: #fff;
    position: relative;
}

.feature3-iteam-text1 {
    font-size: 30px;
}

.feature3-iteam-text2 {
    padding-left: 6px;
    color: rgb(15, 23, 45);
    font-weight: bold;
}

.feature3-iteam-padding {
    padding: 60px;
}

.feature3-iteam-icon2 {
    position: absolute;
    bottom: 0px;
    right: 60px;
    /* padding-bottom: 0px; */
}

.feature3-iteam:hover {
    border-width: 10px;
    border-style: solid;
    border-color: rgb(254, 161, 22);
}