.container-fluid {
    width: 100%;
    padding: 0px;
}


/********** POSTER  **********/

.poster {
    height: 700px;
    background-color: #404551;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title-sm p {
    font-size: 40px;
    margin: 0px;
    z-index: 2;
}

.title-sm {
    z-index: 2;
    margin-bottom: 40px;
}

.title-big p {
    margin-right: 0px;
    font-size: 170px;
    padding: 0px;
    z-index: 6;
}

.title-big {
    z-index: 5;
    margin-top: -50px;
}

.get-startd button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
}

.get-startd {
    z-index: 8;
}

.text-shadow {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-shadow p {
    color: #404551;
    display: flex;
    font-size: 280px;
    -webkit-text-stroke: 0.5px #717379;
}

.img-house {
    width: 100%;
    height: 245px;
}

.feature-iteam {
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

.feature-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.feature-title-bg {
    padding: 30px;
}

main {
    background-color: rgb(241, 248, 255);
    padding-top: 130px;
}

.feature-title {
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

.price {
    background-color: #fea116;
    border-radius: 5px;
    color: #ffff;
    border: none;
}

.container .styte-buton button {
    border-radius: 100px;
    background-color: rgb(60, 74, 109);
    font-size: 25px;
    color: #ffff;
}

.styte-buton {
    text-align: center;
}

.container .styte-buton button:hover {
    background-color: #fea116;
}

.feature-iteam-tranform2 button {
    border-radius: 10px;
    background-color: #fea116;
    padding: 3px 10px;
    color: #ffff;
    border: none;
}

.feature-iteam-tranform2 {
    transform: translateY(-50%);
    float: left;
    padding-left: 20px;
}

.feature-icon-title .icon8 {
    padding-right: 15px;
    padding-bottom: 10px;
}