/*header css*/

* {
    box-sizing: border-box;
}

.container-fluid {
    padding: 0px;
}

.contact {
    display: flex;
}

.nav-top {
    width: 100%;
    display: flex;
    padding: 20px;
    margin: 0px;
}

.contact a {
    color: #717379;
}

.about {
    float: right;
}

.contact i {
    color: #fea116;
}

a:hover {
    color: #fea116;
}

.about>i,
a {
    margin-right: 10px;
    text-decoration: none;
    color: #717379;
    cursor: pointer;
}

.about>a :hover {
    color: #fea116;
    cursor: pointer;
}

.navbar-bottom {
    background-color: #0f172b;
    color: #ffff;
    width: 100%;
    margin: 0px;
}

.nav-bot {
    padding: 0px;
    display: flex;
}

.nav-right {
    display: inline-block;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
}

.navbar-toggler {
    background-color: #ffff;
}

.nav-item {
    font-size: 14px;
}

.nav-item>a {
    color: #ffff;
}

.nav-link {
    padding: 0px;
    margin: 0px;
    line-height: 36px;
}

.fa-circle {
    font-size: 20px;
    color: #1e2c8a;
    text-align: center;
}

.nav-bot .search-btn button {
    background-color: #0f172b;
    color: #ffff;
    border: none;
}

.get-quote {
    background-color: #fea116;
    display: flex;
    height: 100px;
    line-height: 100px;
    padding: 0px 20px;
    border: none;
    box-sizing: border-box;
}

.navbar-big {
    position: relative;
}

.logo {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.img-content {
    background-color: #fea116;
    border-radius: 50px;
    color: #ffff;
    width: 270px;
    height: 100px;
}

.img-content img {
    color: #ffff;
    margin-right: 10px;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-content-sm h1 {
    margin: 0px;
    font-size: 40px;
}

.img-content-sm p {
    margin-top: -5px;
    font-size: 12px;
}

.poster {
    height: 600px;
    background-color: #404551;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title-sm p {
    font-size: 40px;
    margin: 0px;
    z-index: 2;
}

.title-sm {
    z-index: 2;
    margin-bottom: 40px;
}

.title-big p {
    margin-right: 0px;
    font-size: 170px;
    padding: 0px;
    z-index: 6;
}

.title-big {
    z-index: 5;
    margin-top: -50px;
}

.get-startd button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
}

.get-startd {
    z-index: 8;
}

.text-shadow {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-shadow p {
    color: #404551;
    display: flex;
    font-size: 280px;
    -webkit-text-stroke: 0.5px #717379;
}

@media screen and (min-width: 1200px) {
    .nav-link {
        padding: 0px;
        margin: 0px;
    }
}


/*header */


/*footer*/

.footer-container {
    background-color: #0f172b;
    width: 100%;
    margin-top: 100px;
}

.footer-container {
    background-color: #0f172b;
    width: 100%;
}

.footer-big {
    width: 100%;
    color: #ffff;
}

.footer-big1 {
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
}

.logo-bottom {
    margin-bottom: 20px;
}

.foot-des1-1,
.foot-des-1-2,
.des-1-3-1 {
    font-size: 13px;
    color: #717379;
}

.foot-icon4-1-1 {
    display: flex;
}

.icon-mini {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #717379;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #717379;
}

.icon-mini:hover {
    background-color: #fea116;
    color: #ffff;
    cursor: pointer;
}

.footer-big1>.foot-big1:nth-child(2) {
    padding: 0px 20px;
}

.foot-title1-2 h2 {
    margin-bottom: 20px;
}

.foot-des-1-2 p:hover {
    color: #fea116;
    box-shadow: 0 2px #fea116;
    cursor: pointer;
}

.foot-des-1-3-1 {
    display: flex;
}

.box-while {
    width: 120px;
    height: 80px;
    background-color: #ffff;
    border-radius: 5px;
    margin-right: 20px;
}

.des-1-3-1>p:nth-child(1):hover {
    color: #ffff;
    cursor: pointer;
}

.footer-big1>.foot-big1:nth-child(3) {
    padding-left: 40px;
}

.footer-big1>.foot-big1>h2 {
    margin-bottom: 20px;
}

.foot-big {
    width: 100%;
}

.line {
    background-color: #717379;
    height: 1px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.footer-big2 {
    background-color: #0f172b;
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 50px;
    justify-content: space-between;
}

.foot-2-1 {
    display: flex;
}

.foot-2-1 p {
    margin-right: 20px;
    color: #717379;
}

.foot-2-1>p:hover {
    color: #ffff;
    cursor: pointer;
}

.foot-2-2 p {
    color: #717379;
}

.footer-top {
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: #fea116;
    color: #f1f8ff;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.footer-top1 {
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
}

.footer-top1::-webkit-scrollbar {
    display: none;
}

.foot-top1 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.foot-top1 img {
    font-size: 40px;
    color: black;
    padding: 15px 0px;
}

.footer-blog {
    margin: 0 auto;
    background-color: #fea116;
}


/*footer*/


/*blog-detail*/

a {
    text-decoration: none;
}

.ul-blog-top li>a {
    font-size: 15px;
    color: #666565;
    font-weight: 25px;
}

.i-input-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.i-input-form button {
    border: none;
    background-color: #fff;
    color: #fea116;
    font-size: 16px;
}

.input-form-room {
    width: 100%;
    height: 55px;
    padding: 20px;
}

.col4-item-category {
    margin-top: 30px;
}

.col4-squera-category {
    background: linear-gradient(to top, #1c1c1c, #767676);
    height: 130px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.text-category {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    bottom: 10px;
    left: 20px;
}

.col4-bootom-childs {
    background-color: #363d4d;
    height: 540px;
    margin-top: 40px;
    padding: 48px;
}

.item-col4-bootom-childs {
    text-align: center;
}

.item-col4-bootom-childs h2 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
    margin-bottom: 40px;
}

.item-col4-bootom-childs>p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
}

.btn-book {
    background: #fea116;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
}

.main-blog {
    background: #f1f8ff;
    padding-top: 120px;
}

.square-right-blog {
    background-color: #fea116;
    height: 170px;
}

.form-item-blog {
    position: relative;
    top: 10px;
}

.form-rigt-blog {
    position: relative;
    margin-bottom: 20px;
}

.form-rigt-blog>h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
}

.i-input-form-blog i {
    color: #000;
}

.col4-category-blog {
    background-color: #fff;
}

.tag-populer-blog1 {
    margin-top: 40px;
    height: auto;
    background-color: #fff;
}

.tag-populer-blog {
    padding: 0 20px;
}

.tag-populer-blog>h2 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 45px;
}

.tag-populer-blog>p {
    color: #fea116;
    position: relative;
    font-size: 30px;
    font-weight: 900;
    bottom: 30px;
}

.btn-blog-populer {
    background-color: #eef3f9;
    padding: 10px 5px;
    border: 4px solid #fff;
    border-radius: 10px;
}

.btn-blog-populer1 {
    background-color: #eef3f9;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 10px;
    width: auto;
}

.btn-blog-populer2 {
    background-color: #eef3f9;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 10px;
    width: auto;
    margin-bottom: 40px;
}

.btn-color-blog:hover {
    transition: all 0.5s;
    background-color: #fea116;
    color: #fff;
}

.content-col8-blog {
    padding-top: 40px;
    background-color: #fff;
    padding-left: 40px;
    height: auto;
}

.content-col8-blog>.nav>li {
    margin-right: 30px;
    font-size: 14px;
}

.fas-i-blog {
    padding-right: 10px;
    color: #fea116;
}

.title-blog-ul>h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    color: #0f172b;
}

.title-blog-ul>p {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    color: #666565;
}

.sub-conten-blog {
    background-color: #707070;
    height: 250px;
    width: 100%;
}

.text-motto {
    border-left: 5px solid #fea116;
    padding: 0px 30px;
    margin: 45px 0px;
}

.text-motto>h3 {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    color: #0f172b;
}

.text-motto>p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    color: #666565;
}

.content-col8-blog>p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.author-popular>p {
    font-size: 16px;
    font-weight: bold;
}

.logo-social>p {
    font-size: 16px;
    font-weight: bold;
}

.social-item-blog {
    background-color: #e7f1fd;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    text-align: center;
    border-radius: 100%;
}

.social-item-blog:hover {
    background-color: #fea116;
    color: #fff;
}

.squera-two-blog {
    background-color: #fff;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.p-text-suqrea {
    display: flex;
    background-color: #0f172b;
    height: 110px;
    text-align: left;
    align-items: center;
}

.p-text-suqrea>p {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.p-text-suqrea1 {
    display: flex;
    background-color: #e7f1fd;
    height: 110px;
    text-align: left;
    align-items: center;
}

.p-text-suqrea1>p {
    font-size: 22px;
    font-weight: bold;
    color: #222222;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.client-cmt-blog {
    margin-top: 40px;
    background-color: #fff;
    padding: 30px;
}

.new-left-blog1>h2 {
    font-size: 35px;
    font-weight: bold;
    color: #0f172b;
    margin: 20px 0px;
}

.new-left-blog1>h2>p {
    color: #fea116;
    font-weight: 900;
}

.txt-new-left-item {
    background: #8c8c8c;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.txt-new-left-item1>h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.txt-new-left-item1>span {
    font-size: 18px;
    line-height: 40px;
}

.txt-new-left-item1 {
    font-size: 17px;
    line-height: 26px;
    color: #666565;
}

.btn-blog-repply {
    border: none;
    color: #666565;
    background-color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}

.btn-blog-repply:hover {
    color: #fea116;
}

.clas1 {
    margin: 15px 0px;
}

.txt-new-left-item {
    margin: 15px 0px;
}

.txt-new-left-item:nth-last-child(2) {
    margin-left: 50px;
}

.clas1:nth-last-child(2) {
    margin-left: 40px;
}

.form-blog {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
}

.h1-form {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #0f172b;
    line-height: 38px;
}

.form-item-txt {
    position: relative;
}

.form-item-txt>input {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border: 2px solid #e9ebef86;
    padding: 0 20px;
}

.far-i-form {
    position: absolute;
    right: 20px;
    top: 30px
}

.form-item-txt:hover {
    color: #fea116;
    border: 2px solid #fea116;
}

.form-item-txt-write:hover {
    color: #fea116;
    border: 2px solid #fea116;
}

.form-item-txt-write {
    position: relative;
    margin: 20px 0;
}

.form-item-txt-write>input {
    width: 100%;
    height: 130px;
    line-height: 70px;
    border: 2px solid #e9ebef86;
    padding: 0 20px;
}

.btn-box-blog>button {
    background-color: #fea116;
    color: #fff;
    border: none;
    width: 220px;
    height: 65px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: bold;
}

.btn-box-blog>button:hover {
    color: #000000;
    background-color: aquamarine;
}


/*col4 reig*/

.circle-blog {
    background: #8c8c8c;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-right: 20px;
}

.new-right-blog {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
}

.new-right-blog>p {
    font-size: 25px;
    font-weight: 900;
    color: #fea116;
}

.all-squera-cate {
    padding: 20px;
}


/*blogdetail*/


/*----------------------------------------------------------------------------------------*/


/*galley-details*/

a {
    text-decoration: none;
}

.ul-blog-top li>a {
    font-size: 15px;
    color: #666565;
    font-weight: 25px;
}

.i-input-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.i-input-form button {
    border: none;
    background-color: #fff;
    color: #fea116;
    font-size: 16px;
}

.input-form-room {
    width: 100%;
    height: 55px;
    padding: 20px;
}

.col4-item-category {
    margin-top: 30px;
}

.col4-squera-category {
    background: linear-gradient(to top, #1c1c1c, #767676);
    height: 130px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.text-category {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    bottom: 10px;
    left: 20px;
}

.col4-bootom-childs {
    background-color: #363d4d;
    height: 540px;
    margin-top: 40px;
    padding: 48px;
}

.item-col4-bootom-childs {
    text-align: center;
}

.item-col4-bootom-childs h2 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
    margin-bottom: 40px;
}

.item-col4-bootom-childs>p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
}

.btn-book {
    background: #fea116;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
}

.main-blog {
    background: #f1f8ff;
    padding-top: 120px;
}

.square-right-blog {
    background-color: #fea116;
    height: 170px;
}

.form-item-blog {
    position: relative;
    top: 10px;
}

.form-rigt-blog {
    position: relative;
    margin-bottom: 20px;
}

.form-rigt-blog>h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
}

.i-input-form-blog i {
    color: #000;
}

.col4-category-blog {
    background-color: #fff;
}

.tag-populer-blog1 {
    margin-top: 40px;
    height: auto;
    background-color: #fff;
}

.tag-populer-blog {
    padding: 0 20px;
}

.tag-populer-blog>h2 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 45px;
}

.tag-populer-blog>p {
    color: #fea116;
    position: relative;
    font-size: 30px;
    font-weight: 900;
    bottom: 30px;
}

.btn-blog-populer {
    background-color: #eef3f9;
    padding: 10px 5px;
    border: 4px solid #fff;
    border-radius: 10px;
}

.btn-blog-populer1 {
    background-color: #eef3f9;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 10px;
    width: auto;
}

.btn-blog-populer2 {
    background-color: #eef3f9;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 10px;
    width: auto;
    margin-bottom: 40px;
}

.btn-color-blog:hover {
    transition: all 0.5s;
    background-color: #fea116;
    color: #fff;
}

.content-col8-blog {
    padding-top: 40px;
    background-color: #fff;
    padding-left: 40px;
    height: auto;
}

.content-col8-blog>.nav>li {
    margin-right: 30px;
    font-size: 14px;
}

.fas-i-blog {
    padding-right: 10px;
    color: #fea116;
}

.title-blog-ul>h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    color: #0f172b;
}

.title-blog-ul>p {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    color: #666565;
}

.sub-conten-blog {
    background-color: #707070;
    height: 250px;
    width: 100%;
}

.text-motto {
    border-left: 5px solid #fea116;
    padding: 0px 30px;
    margin: 45px 0px;
}

.text-motto>h3 {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    color: #0f172b;
}

.text-motto>p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    color: #666565;
}

.content-col8-blog>p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.author-popular>p {
    font-size: 16px;
    font-weight: bold;
}

.logo-social>p {
    font-size: 16px;
    font-weight: bold;
}

.social-item-blog {
    background-color: #e7f1fd;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    text-align: center;
    border-radius: 100%;
}

.social-item-blog:hover {
    background-color: #fea116;
    color: #fff;
}

.squera-two-blog {
    background-color: #fff;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.p-text-suqrea {
    display: flex;
    background-color: #0f172b;
    height: 110px;
    text-align: left;
    align-items: center;
}

.p-text-suqrea>p {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.p-text-suqrea1 {
    display: flex;
    background-color: #e7f1fd;
    height: 110px;
    text-align: left;
    align-items: center;
}

.p-text-suqrea1>p {
    font-size: 22px;
    font-weight: bold;
    color: #222222;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.client-cmt-blog {
    margin-top: 40px;
    background-color: #fff;
    padding: 30px;
}

.new-left-blog1>h2 {
    font-size: 35px;
    font-weight: bold;
    color: #0f172b;
    margin: 20px 0px;
}

.new-left-blog1>h2>p {
    color: #fea116;
    font-weight: 900;
}

.txt-new-left-item {
    background: #8c8c8c;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.txt-new-left-item1>h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.txt-new-left-item1>span {
    font-size: 18px;
    line-height: 40px;
}

.txt-new-left-item1 {
    font-size: 17px;
    line-height: 26px;
    color: #666565;
}

.btn-blog-repply {
    border: none;
    color: #666565;
    background-color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}

.btn-blog-repply:hover {
    color: #fea116;
}

.clas1 {
    margin: 15px 0px;
}

.txt-new-left-item {
    margin: 15px 0px;
}

.txt-new-left-item:nth-last-child(2) {
    margin-left: 50px;
}

.clas1:nth-last-child(2) {
    margin-left: 40px;
}

.form-blog {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
}

.h1-form {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #0f172b;
    line-height: 38px;
}

.form-item-txt {
    position: relative;
}

.form-item-txt>input {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border: 2px solid #e9ebef86;
    padding: 0 20px;
}

.far-i-form {
    position: absolute;
    right: 20px;
    top: 30px
}

.form-item-txt:hover {
    color: #fea116;
    border: 2px solid #fea116;
}

.form-item-txt-write:hover {
    color: #fea116;
    border: 2px solid #fea116;
}

.form-item-txt-write {
    position: relative;
    margin: 20px 0;
}

.form-item-txt-write>input {
    width: 100%;
    height: 130px;
    line-height: 70px;
    border: 2px solid #e9ebef86;
    padding: 0 20px;
}

.btn-box-blog>button {
    background-color: #fea116;
    color: #fff;
    border: none;
    width: 220px;
    height: 65px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: bold;
}

.btn-box-blog>button:hover {
    color: #000000;
    background-color: aquamarine;
}


/*col4 reig*/

.circle-blog {
    background: #8c8c8c;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-right: 20px;
}

.new-right-blog {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
}

.new-right-blog>p {
    font-size: 25px;
    font-weight: 900;
    color: #fea116;
}

.all-squera-cate {
    padding: 20px;
}


/*galley-details*/


/*----------------------------------------------------------------------------------------*/


/*room-details*/

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.square-top-room {
    height: 500px;
    background-color: #4f4f4f;
    position: relative;
}

.text-col8-room {
    position: relative;
    top: -200px;
}

.txt-p-room-div p {
    font-size: 18px;
    line-height: 30px;
    color: #666565;
    text-align: justify;
}

.span-room {
    position: absolute;
    background-color: #fea116;
    color: #fff;
    border-radius: 3px;
    height: 50px;
    width: 120px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    right: 30px;
    top: 30px;
}

.square-right-room {
    height: 500px;
    background-color: #f1f8ff;
}

.span-div-right {
    background-color: #fea116;
    width: 100%;
    height: 70px;
    text-align: center;
}

.span-room-right {
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.span-room-right>span {
    font-size: 15px;
    font-weight: 500;
}

.span-room-right h5 {
    display: flex;
}

.form-item-room {
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

.input-item {
    position: relative;
}

.i-input-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.i-input-form button {
    border: none;
    background-color: #fff;
    color: #fea116;
    font-size: 16px;
}

.input-form-room {
    width: 100%;
    height: 55px;
    padding: 20px;
}

.ul-header-room {
    top: 56%;
    left: 505px;
}

.main-buttom button {
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    padding: 5px;
    font-size: 17px;
    background: #fea116;
}

.main {
    margin-top: 130px;
}

.main-room {
    margin-top: 130px;
}

.ul-main-room {
    padding: 0px;
    margin: 0px;
}

.ul-main-room li {
    margin: 10px 0;
    position: relative;
}

.span-ul-room {
    right: 5px;
    position: absolute;
}

.room-conten-col8 {
    margin-top: 55px;
}

.all-squera-cate>h2 {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.col4-item-category {
    background-color: #f1f8ff;
    height: 600px;
    margin-top: 10px;
}

.col4-squera-category {
    background: linear-gradient(to top, #1c1c1c, #767676);
    height: 130px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.text-category {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    bottom: 10px;
    left: 20px;
}

.col4-bootom-childs {
    background-color: #363d4d;
    height: 540px;
    margin-top: 40px;
    padding: 48px;
}

.item-col4-bootom-childs {
    text-align: center;
}

.item-col4-bootom-childs h2 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
    margin-bottom: 40px;
}

.item-col4-bootom-childs>p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
}

.btn-book {
    background: #fea116;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
}

.btn-book:hover {
    background-color: aquamarine;
    color: #fea116;
}

.footer-squeare {
    background-color: #6e6e6e;
    height: 253px;
    width: 100%;
    position: relative;
}

.footer-room span {
    color: #fea116;
    font-size: 20.02px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    display: block;
}

#rd-main {
    margin-bottom: 40px;
}

.footer-room h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 58px;
    color: #0f172b;
    margin-bottom: 90px;
    margin-top: 40px;
    text-align: center;
}

.conten-fotter-rom {
    position: absolute;
    bottom: -10px;
    left: 50px;
    background-color: #fea116;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
}

.conten-foter-all {
    padding: 0px 38px;
    margin-top: 30px;
}

.conten-foter h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.conten-foter p {
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}

.ul-rom-fot li {
    margin-right: 35px;
}

.btn-fot-price {
    background-color: #fea116;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
}


/*room-details*/


/*----------------------------------------------------------------------------------------*/


/*home*/

.container-fluid {
    padding: 0px;
}

.poster {
    height: 600px;
    background-color: #404551;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title-sm p {
    font-size: 40px;
    margin: 0px;
    z-index: 2;
}

.title-sm {
    z-index: 2;
    margin-bottom: 40px;
}

.title-big p {
    margin-right: 0px;
    font-size: 170px;
    padding: 0px;
    z-index: 6;
}

.title-big {
    z-index: 5;
    margin-top: -50px;
}

.get-startd button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
}

.get-startd {
    z-index: 8;
}

.text-shadow {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-shadow p {
    color: #404551;
    display: flex;
    font-size: 280px;
    -webkit-text-stroke: 0.5px #717379;
}

.main-container {
    position: relative;
}

.booking {
    position: absolute;
    top: -1%;
    margin: 0 auto;
    width: 80%;
    background-color: #f1f8ff;
    left: 50%;
    transform: translateX(-50%);
}

.book-form {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    padding: 50px 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.col-book {
    margin: 0 auto;
    height: 80px;
    padding: 0px 15px;
    margin-bottom: 25px;
}

.input-wrap>select,
.input-wrap>input {
    height: 80px;
    font-weight: 600;
    color: #0f172b;
    font-size: 18px;
    width: 100%;
    border: none;
}

.book-now {
    border: none;
    background-color: #fea116;
    width: 100%;
    color: #ffff;
    padding: 0px;
    font-weight: 800px;
    font-size: 20px;
    border-radius: 7px;
}

.input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffff;
    line-height: 80px;
    border: 3px solid #eaedf4;
    padding: 0px 20px;
    border-radius: 10px;
    font-weight: 600px;
}

.col-book:nth-child(6)>.input-wrap {
    padding: 0px;
}

.input-wrap input {
    border: none;
}

.content1 {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding-top: 400px;
    margin-bottom: 100px;
}

.content1-left {
    padding: 0px;
    position: relative;
}

.box-blue {
    width: 95%;
    height: 550px;
    background-color: #1e2c8a;
    padding: 0px;
}

.box-orange {
    color: #ffff;
    background-color: #fea116;
    padding: 30px;
    width: 65%;
    position: absolute;
    bottom: -5%;
    right: 0%;
    box-sizing: border-box;
}

.box-orange-icon i {
    font-size: 40px;
}

.box-orange-title h2 {
    font-size: 22px;
    margin-top: 15px;
}

.box-orange-title {
    font-size: 13px;
}

.box-orange-icon img {
    color: #ffff;
    background-color: #dfe9f4;
}

.content1-right {
    box-sizing: border-box;
    padding-left: 80px;
}

.title1-right span {
    color: #fea116;
    font-weight: 600;
}

.title1-right h1 {
    font-weight: 600;
    font-size: 40px;
}

.content1-right-1_1 {
    display: flex;
    flex-direction: column;
}

.content1-right-1_1 img {
    width: 70px;
    height: 70px;
}

.content1-right-1_1 b {
    font-size: 50px;
    font-weight: 600;
}

.content1-right-1_1 span {
    font-weight: 400;
}

.content2 {
    margin-top: 200px;
    width: 100%;
    background-color: #f1f8ff;
    margin-bottom: 200px;
}

.content2-main {
    padding: 100px 70px;
    position: relative;
    z-index: 1;
}

.content2-left {
    color: #ffff;
    padding-left: 20px;
}

.content2-main::after {
    position: absolute;
    background-color: #0f172b;
    left: 0;
    width: 37.5%;
    top: 0;
    content: '';
    height: 100%;
    z-index: -1;
}

.title2-1 h1 {
    font-weight: 600px;
    font-size: 50px;
}

.content2-2 .col-xl-4 {
    padding: 0px 15px;
}

.cont2-2 {
    background-color: #ffff;
}

.note2-1 h2 {
    color: #fea116;
    font-size: 24px;
    margin-top: 50px;
}

.des2-1-1 {
    font-size: 18px;
}

.des2-1-2 p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.des2-1-2 span {
    font-size: 30px;
}

.content2-2-1 {
    width: 100%;
    background-color: #404551;
    height: 200px;
}

.cont2-2-fot {
    position: relative;
}

.cont2-2-fot>p {
    position: absolute;
    height: 40px;
    width: 150px;
    background-color: #fea116;
    color: #ffff;
    font-size: 18px;
    border-radius: 5px;
    bottom: -16%;
    left: 8%;
    line-height: 40px;
}

.text2-2 {
    padding: 30px;
}

.title2-2 h2 {
    font-size: 28px;
    margin-top: 20px;
    font-weight: 800px;
}

.des2-2 p {
    font-size: 16px;
    margin-top: 20px;
}

.bottom2-2 {
    padding: 0px 30px 30px 30px;
}

.bottom2-2 .row .col-4 {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.price {
    background-color: #fea116;
    border-radius: 5px;
    color: #ffff;
    border: none;
}

.icon2-2-1 {
    display: flex;
    margin-bottom: 10px;
}

.icon2-2-1 i {
    color: #fea116;
}

.icon2-2-1 p {
    color: #404551;
    font-size: 13px;
}

.content3 {
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 70%;
}

.title3 {
    margin-bottom: 80px;
}

.title3-1 h2 {
    color: #fea116;
    font-size: 24px;
}

.title3-2 h1 {
    margin: 0 auto;
    font-size: 40px;
    width: 60%;
    font-weight: 600px;
}

.des3-1 {
    justify-content: center;
}

.box1 {
    margin-bottom: 35px;
}

.box1-content {
    border: 2px solid #dfe9f4;
    padding: 50px 30px;
}

.box1-content img {
    margin-bottom: 30px;
}

.box1-title p {
    font-size: 15px;
}

.box1-bot h2 {
    font-size: 20px;
}

.box1-content:hover {
    background-color: #fea116;
    color: #ffff;
}

.box1-content:hover img {
    background-color: #ffff;
}

.content4 {
    width: 100%;
    height: 400px;
    background-color: #141b2b;
    color: #ffff;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content4-1 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title4-1 {
    padding-top: 80px;
    z-index: 5;
}

.title4-1 h1 {
    font-size: 120px;
    margin-top: -30px;
}

.button4 {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #fea116;
    color: #ffff;
    z-index: 10;
    margin-top: 20px;
    line-height: 50px;
}

.des4 {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    -webkit-text-stroke: 0.5px #717379;
    color: #0f172b;
    z-index: 1;
}

.des4 p {
    font-size: 180px;
}


/* Screen cho home ****************************************/

@media screen and (max-width: 1200px) {
    .title1-right span {
        font-size: 18px;
    }
    .title1-right h1 {
        font-size: 30px;
    }
    .title1-right p {
        font-size: 18px;
    }
    .content1-right-1 img {
        width: 80%;
        height: auto;
    }
    .content1-right-1 b {
        font-size: 25px;
    }
    .content1-right-1 span {
        font-size: 13px;
    }
    .content2-2::-webkit-scrollbar {
        display: none;
    }
    .content2-2 {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .text-shadow p {
        font-size: 180px;
    }
    .title-sm p {
        font-size: 50px;
    }
    .title-big p {
        font-size: 120px;
    }
    .get-startd {
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    .text-shadow p {
        font-size: 130px;
    }
    .title-sm p {
        font-size: 40px;
    }
    .title-big p {
        font-size: 90px;
    }
    .get-startd {
        font-size: 30px;
    }
    .content1 {
        padding-top: 800px;
    }
    .content1-left {
        margin-bottom: 50px;
    }
    .content1-right-1_1 img {
        width: 60%;
    }
    .content2-main {
        padding: 80px 30px;
        background-color: #f1f8ff;
    }
    .content2-main::after {
        left: 0;
        width: 100%;
        height: 60.9%;
    }
    .content2-left {
        margin-bottom: 50px;
        background-color: #0f172b;
    }
    .cont2-2 {
        background-color: #ffff;
        padding: 0px;
    }
    .title4-1 h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .title4-1 h1 {
        font-size: 90px;
    }
    .button4 p {
        font-size: 18px;
    }
    .des4 p {
        font-size: 180px;
    }
}

@media screen and (max-width: 768px) {
    .text-shadow p {
        font-size: 90px;
    }
    .title-sm p {
        font-size: 30px;
    }
    .title-big p {
        font-size: 80px;
    }
    .get-startd {
        font-size: 20px;
    }
    .title4-1 h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .title4-1 h1 {
        font-size: 60px;
    }
    .button4 p {
        font-size: 18px;
        margin: 0px;
    }
    .des4 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .booking,
    .content1,
    .content3 {
        width: 90%;
    }
    .text-shadow p {
        font-size: 100px;
    }
    .title-sm p {
        font-size: 20px;
    }
    .title-big p {
        font-size: 70px;
    }
    .get-startd {
        font-size: 30px;
    }
    .booking {
        position: absolute;
        top: -0.5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .content1 {
        padding-top: 800px;
    }
    .box-orange-title h2 {
        font-size: 18px;
    }
    .box-orange {
        padding: 20px;
    }
    .box-orange-icon i {
        font-size: 35px;
    }
    .content1-right {
        padding: 0px;
        margin-top: 50px;
    }
    .content2-main {
        padding: 80px 30px;
        background-color: #f1f8ff;
    }
    .content2-main::after {
        left: 0;
        width: 100%;
        height: 60.9%;
    }
    .content2-left {
        margin-bottom: 50px;
        background-color: #0f172b;
    }
    .cont2-2 {
        background-color: #ffff;
        padding: 0px;
    }
    .content3 {
        margin-top: 200px;
    }
    .title3-2 h1 {
        font-size: 25px;
    }
    .title4-1 h2 {
        font-size: 20px;
    }
    .title4-1 h1 {
        font-size: 60px;
    }
    .button4 {
        font-size: 20px;
    }
    .des4 p {
        display: none;
    }
}


/*home*/


/*---------------------------------------------------------------------------*/


/*css Gallery*/

#gallery-main {
    margin: 0 auto;
    padding-bottom: 40px;
}

.section-header {
    position: relative;
}

.img-header img {
    width: 100%;
    height: 512px;
}

.ul-header {
    position: absolute;
    justify-content: center;
    left: 540px;
    top: 50%;
}

.ul-header li a {
    color: #ffff;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.ul-header li a {
    color: #fea116;
}

.ul-header li:last-child a {
    color: #ffff;
}

#gallery-main-menu {
    display: flex;
    justify-content: center;
}

.ul-main-menu {
    margin-top: 80px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.ul-main-menu li a {
    font-size: 20px;
    font-weight: bold;
    color: #0f172b;
    line-height: 38px;
    margin-right: 20px;
}

.ul-main-menu li:hover a {
    color: #fea116;
}

.ul-main-menu li:hover a i {
    visibility: visible;
}

.i-main-menu {
    margin-right: 20px;
    width: 20px;
    color: #fea116;
    visibility: hidden;
}

.col4-item {
    padding: 10px;
}

.gallery-container-main {
    margin: 0 auto;
}

.item-main-conten {
    height: 360px;
    width: 100%;
    background-color: #515151;
    position: relative;
}


/* .col4-item:hover div {
    background-color: #292e3a;
    visibility: visible;
} */

.item-main-conten1 {
    height: 360px;
    width: 100%;
    background-color: rgb(182, 247, 96);
}

.item-main-conten2 {
    height: 360px;
    width: 100%;
    background-color: rgb(97, 75, 223);
}

.sub-main-item {
    position: absolute;
    text-align: center;
    bottom: 10px;
    right: 20px;
    visibility: hidden;
}

.sub-main-item-p {
    padding-top: 35px;
    padding-left: 35px;
    visibility: hidden;
}

.sub-main-item-p p {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.item-main-conten-i {
    color: #ffff;
    font-size: 20px;
    background-color: #fea116;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: table;
    vertical-align: middle;
}

@media (min-width:1200px) {
    .container-main,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        width: 1200px;
    }
}


/*css Gallery*/


/*---------------------------------------------------------------------------*/


/* -----------------------------------------------css của huynh----------------------- */


/* css phần about-us */

.about-us {
    margin-top: 130px;
}

.about-text-about-us {
    color: rgb(254, 161, 22);
    float: right;
    font-size: 18px;
}

.about-text-welcome {
    font-weight: bold;
    font-size: 50px;
    float: left;
    color: rgb(15, 23, 43);
}

.about-text-introduce {
    font-size: 18px;
}

.about-abc {
    padding: 0 20px;
}

.about-text-1-1 {
    margin-bottom: 70px;
}

.about-iteam-col12 {
    position: relative;
    width: 1170;
    height: 572px;
    background-color: rgb(30, 44, 128);
}

.about-iteam-col5 {
    transform: translateY(-25%);
    margin-left: 70px;
    background-color: rgb(241, 248, 255);
    padding: 65px;
}

.about-get-startdcc button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    margin-top: 30px;
    float: left;
}

.about-get-startdcc {
    padding-bottom: 80px;
}

.about-iteam-col5-text-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

.about-icon-number-text {
    text-align: center;
    padding-top: 100px;
}

.about-min-number {
    font-size: 60px;
}

.about-bg-tranform-img {
    margin-bottom: 130px;
}

.about-bg-image {
    background-image: url(../img/img/03_About_Us_02.jpg);
    height: 661px;
}

.about-feature-iteam {
    transform: translateY(-250px);
    background-color: rgb(255, 255, 255);
}

.about-img-house {
    width: 100%;
    height: 250px;
}

.about-feature-text1-text2 {
    padding: 30px 25px;
}

.about-feature-text1-text2>a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
}

.about-feature-text1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}

.about-conten-explore {
    text-align: center;
    margin-bottom: 70px;
}

.about-conten-explore-text1 {
    color: rgb(254, 161, 22);
    font-weight: bolder;
}

.about-conten-explore-text2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 25px;
}

.about-feature2-iteam {
    padding: 80px 10px;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(233, 233, 234);
    margin-bottom: 130px;
    box-shadow: 6px 6px 0px rgb(233, 233, 234);
}

.about-feature2-text1 {
    font-weight: bold;
    font-size: 25px;
}

.about-feature2-iteam a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.about-bg-acbcxyz {
    height: 1210px;
    background: rgb(241, 248, 255);
}

.about-feature3-iteam {
    background-color: #fff;
    position: relative;
}

.about-feature3-iteam-text1 {
    font-size: 30px;
}

.about-feature3-iteam-text2 {
    padding-left: 6px;
    color: rgb(15, 23, 45);
    font-weight: bold;
}

.about-feature3-iteam-padding {
    padding: 60px;
}

.about-feature3-iteam-icon2 {
    position: absolute;
    bottom: 0px;
    right: 60px;
}

.about-feature3-iteam:hover {
    border-width: 10px;
    border-style: solid;
    border-color: rgb(254, 161, 22);
}


/* ------------------------kết thúc about-------------- */


/* css phần Blog-Grid */

.bloggrid-img-house {
    width: 100%;
    height: 245px;
}

.bloggrid-feature-iteam {
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

.bloggrid-feature-text {
    margin-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
}

.bloggrid-feature-icon-date {
    padding: 50px 25px;
}

.bloggrid-feature-date {
    padding-left: 15px;
}

.blog-grid {
    background-color: rgb(241, 248, 255);
    padding-top: 130px;
}

.bloggrid-feature-icon-date>a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
}

.container .bloggrid-styte-buton button {
    border-radius: 100px;
    background-color: rgb(60, 74, 109);
    font-size: 25px;
    color: #ffff;
}

.bloggrid-styte-buton {
    text-align: center;
}

.container .bloggrid-styte-buton button:hover {
    background-color: #fea116;
}


/* ----------------------kết thúc blog----------------- */


/* css phần Room-Grid */

.rg-img-house {
    width: 100%;
    height: 245px;
}

.rg-feature-iteam {
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}

.rg-feature-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rg-feature-title-bg {
    padding: 30px;
}

.rg {
    background-color: rgb(241, 248, 255);
    padding-top: 130px;
}

.rg-feature-title {
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

.rg-price {
    background-color: #fea116;
    border-radius: 5px;
    color: #ffff;
    border: none;
    margin-top: 10px;
}

.container .rg-styte-buton button {
    border-radius: 100px;
    background-color: rgb(60, 74, 109);
    font-size: 25px;
    color: #ffff;
}

.rg-styte-buton {
    text-align: center;
}

.container .rg-styte-buton button:hover {
    background-color: #fea116;
}

.rg-feature-iteam-tranform2 button {
    border-radius: 10px;
    background-color: #fea116;
    padding: 3px 10px;
    color: #ffff;
    border: none;
}

.rg-feature-iteam-tranform2 {
    transform: translateY(-50%);
    float: left;
    padding-left: 20px;
}

.rg-feature-icon-title .icon8 {
    padding-right: 15px;
    padding-bottom: 10px;
}


/* -----------------------kết thúc rom grid---------------------------------- */
