       /*css headr home*/

       .poster {
           height: 600px;
           background-color: #404551;
           color: #ffff;
           display: flex;
           flex-direction: column;
           justify-content: center;
           text-align: center;
           position: relative;
       }

       .title-sm p {
           font-size: 40px;
           margin: 0px;
           z-index: 2;
       }

       .title-sm {
           z-index: 2;
           margin-bottom: 40px;
       }

       .title-big p {
           margin-right: 0px;
           font-size: 170px;
           padding: 0px;
           z-index: 6;
       }

       .title-big {
           z-index: 5;
           margin-top: -50px;
       }

       .get-startd button {
           border-radius: 50px;
           background-color: #fea116;
           padding: 10px;
           color: #ffff;
           border: none;
           font-size: 15px;
           padding: 15px 30px;
       }

       .get-startd {
           z-index: 8;
       }

       .text-shadow {
           position: absolute;
           display: flex;
           top: 45%;
           left: 50%;
           transform: translate(-50%, -50%);
           z-index: 1;
       }

       .text-shadow p {
           color: #404551;
           display: flex;
           font-size: 280px;
           -webkit-text-stroke: 0.5px #717379;
       }
       /*css homde hdae*/

       * {
           box-sizing: border-box;
           padding: 0;
           margin: 0;
       }

       ul {
           list-style-type: none;
       }
       /*css our gallery*/

       #main {
           margin: 0 auto;
           padding-bottom: 40px;
       }

       .section-header {
           position: relative;
       }

       .img-header img {
           width: 100%;
           height: 512px;
       }

       .ul-header {
           position: absolute;
           justify-content: center;
           left: 540px;
           top: 50%;
       }

       .ul-header li a {
           color: #ffff;
           font-size: 35px;
           font-family: Arial, Helvetica, sans-serif;
       }

       .ul-header li a {
           color: #fea116;
       }

       .ul-header li:last-child a {
           color: #ffff;
       }

       .main-menu {
           margin-bottom: 60px;
       }

       .ul-main-menu {
           padding-left: 110px;
           margin-top: 80px;
           margin-bottom: 40px;
       }

       .ul-main-menu li a {
           font-size: 20px;
           font-weight: bold;
           color: #0f172b;
           line-height: 38px;
           margin-right: 20px;
       }

       .ul-main-menu li:hover a {
           color: #fea116;
       }

       .ul-main-menu li:hover a i {
           visibility: visible;
       }

       .i-main-menu {
           margin-right: 20px;
           width: 20px;
           color: #fea116;
           visibility: hidden;
       }

       #main-conten1 {
           display: none;
       }

       #main-conten2 {
           display: none;
       }

       .col4-item {
           padding: 10px;
       }

       .container-main {
           margin: 0 auto;
       }

       .item-main-conten {
           height: 360px;
           width: 100%;
           background-color: #515151;
           position: relative;
       }

       .col4-item:hover div {
           background-color: #292e3a;
           visibility: visible;
       }

       .item-main-conten1 {
           height: 360px;
           width: 100%;
           background-color: rgb(182, 247, 96);
       }

       .item-main-conten2 {
           height: 360px;
           width: 100%;
           background-color: rgb(97, 75, 223);
       }

       .sub-main-item {
           position: absolute;
           text-align: center;
           bottom: 10px;
           right: 20px;
           visibility: hidden;
       }

       .sub-main-item-p {
           padding-top: 35px;
           padding-left: 35px;
           visibility: hidden;
       }

       .sub-main-item-p p {
           color: #fff;
           font-size: 22px;
           font-weight: 700;
       }

       .item-main-conten-i {
           color: #ffff;
           font-size: 20px;
           line-height: 50px;
           background-color: #fea116;
           height: 50px;
           width: 50px;
           border-radius: 50%;
       }

       @media (min-width:1200px) {
           .container-main,
           .container-lg,
           .container-md,
           .container-sm,
           .container-xl {
               width: 1200px;
           }
       }
       /*css our gallery*/
