.gallery-div-page {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.glery-btn-page {
    background: none;
    border: none;
    box-shadow: 2px 2px 2px 2px #cccc;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 16px;
    border-radius: 3px;
}

button.active {
    background-color: aqua;
    font-weight: bold;
}

.galley-item-conten-image {
    width: 100%;
    height: 230px;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

.galley-item-conten-image>img {
    width: 100%;
}

.item-main-conten:hover .item-hiden-opacity {
    visibility: visible;
    display: block;
}

.item-hiden-opacity {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}