<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title>Gallery</title>

</head>

<body>
    <div>
        <div id="header">
            <div class="poster-big">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="poster">
                                <div class="text-shadow">
                                    <p> Avson</p>
                                </div>
                                <div class="title-sm">
                                    <p> Welcome to Avason</p>
                                </div>
                                <div class="title-big">
                                    <p> Gallery</p>
                                </div>
                                <div class="get-startd">
                                    <button type="button">GET STARTED -></button>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="poster">
                                <div class="text-shadow">
                                    <p> Avson</p>
                                </div>
                                <div class="title-sm">
                                    <p> Welcome to Avason</p>
                                </div>
                                <div class="title-big">
                                    <p>Gallery</p>
                                </div>
                                <div class="get-startd">
                                    <button type="button">GET STARTED -></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="z-index: 100;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="z-index: 100;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
                </div>
            </div>
        </div>
        <main id="gallery-main">
            <div class="container">
                <div class="gallery-container-main">
                    <div id="gallery-main-menu ">
                        <ul class="ul-main-menu nav col-4 col-md-12  col-sm-7">
                            <li class="nav-item active " *ngFor="let x of gallays"><a class="nav-link actvive" href=""><i class="fas i-main-menu show active fa-arrow-right"></i>{{x.txt}}</a></li>
                        </ul>
                    </div>
                    <div>
                        <div id="main-conten-g">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-4 col-sm-6 col-md-4 col4-item" *ngFor="let x of pageData; let k = index ">

                                        <div class="item-main-conten">

                                            <div class="galley-item-conten-image">
                                                <img src="{{x.image1}}" alt="anh ">
                                            </div>
                                            <div class="item-hiden-opacity">
                                                <div class="sub-main-item-p">
                                                    <p>{{x.name}}</p>
                                                </div>
                                                <div class="sub-main-item">
                                                    <a href=""><i class="fas fa-arrow-right item-main-conten-i" style="line-height: 50px;"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gallery-div-page">
                        <button class="glery-btn-page" [disabled]="currentPage == 1" (click)="prepage()"><i class="fas fa-chevron-left"></i></button>
                        <button class="glery-btn-page" (click)="loadPaginate(i+1)" *ngFor="let n of pages; let i = index">{{i+1}}</button>
                        <button class="glery-btn-page" [disabled]="currentPage == 3" (click)="nextpage()"><i class="fas fa-chevron-right"></i></button>
                    </div>

                </div>
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>