.gallery-div-page {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.glery-btn-page {
    background: none;
    border: none;
    box-shadow: 2px 2px 2px 2px #cccc;
    padding: 0 10px;
    margin: 0 2px;
    font-size: 16px;
    border-radius: 3px;
}

button.active {
    background-color: aqua;
    font-weight: bold;
}

div.acti9 .item-main-conten {
    background-color: aqua;
}

div.acti18 .item-main-conten {
    background-color: blue;
}
