/* a {
    text-decoration: none;
}

.ul-blog-top li>a {
    font-size: 15px;
    color: #666565;
    font-weight: 25px;
}

.i-input-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.i-input-form button {
    border: none;
    background-color: #fff;
    color: #fea116;
    font-size: 16px;
}

.input-form-room {
    width: 100%;
    height: 55px;
    padding: 20px;
}

.col4-item-category {
    margin-top: 30px;
}

.col4-squera-category {
    background: linear-gradient(to top, #1c1c1c, #767676);
    height: 130px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.text-category {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    bottom: 10px;
    left: 20px;
}

.col4-bootom-childs {
    background-color: #363d4d;
    height: 540px;
    margin-top: 40px;
    padding: 48px;
}

.item-col4-bootom-childs {
    text-align: center;
}

.item-col4-bootom-childs h2 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 15px;
    margin-bottom: 40px;
}

.item-col4-bootom-childs>p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
}

.btn-book {
    background: #fea116;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
}

.main-blog {
    background: #f1f8ff;
    padding-top: 120px;
}

.square-right-blog {
    background-color: #fea116;
    height: 170px;
}

.form-item-blog {
    position: relative;
    top: 10px;
}

.form-rigt-blog {
    position: relative;
    margin-bottom: 20px;
}

.form-rigt-blog>h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
}

.i-input-form-blog i {
    color: #000;
}

.col4-category-blog {
    background-color: #fff;
}

.tag-populer-blog1 {
    margin-top: 40px;
    height: auto;
    background-color: #fff;
}

.tag-populer-blog {
    padding: 0 20px;
}

.tag-populer-blog>h2 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 45px;
}

.tag-populer-blog>p {
    color: #fea116;
    position: relative;
    font-size: 30px;
    font-weight: 900;
    bottom: 30px;
}

.btn-blog-populer {
    background-color: #eef3f9;
    padding: 10px 5px;
    border: 4px solid #fff;
    border-radius: 10px;
}

.btn-blog-populer1 {
    background-color: #eef3f9;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 10px;
    width: auto;
}

.btn-blog-populer2 {
    background-color: #eef3f9;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 10px;
    width: auto;
    margin-bottom: 40px;
}

.btn-color-blog:hover {
    transition: all 0.5s;
    background-color: #fea116;
    color: #fff;
}

.content-col8-blog {
    padding-top: 40px;
    background-color: #fff;
    padding-left: 40px;
    height: auto;
}

.content-col8-blog>.nav>li {
    margin-right: 30px;
    font-size: 14px;
}

.fas-i-blog {
    padding-right: 10px;
    color: #fea116;
}

.title-blog-ul>h2 {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    color: #0f172b;
}

.title-blog-ul>p {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    color: #666565;
}

.sub-conten-blog {
    background-color: #707070;
    height: 250px;
    width: 100%;
}

.text-motto {
    border-left: 5px solid #fea116;
    padding: 0px 30px;
    margin: 45px 0px;
}

.text-motto>h3 {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    color: #0f172b;
}

.text-motto>p {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    color: #666565;
}

.content-col8-blog>p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.author-popular>p {
    font-size: 16px;
    font-weight: bold;
}

.logo-social>p {
    font-size: 16px;
    font-weight: bold;
}

.social-item-blog {
    background-color: #e7f1fd;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    text-align: center;
    border-radius: 100%;
}

.social-item-blog:hover {
    background-color: #fea116;
    color: #fff;
}

.squera-two-blog {
    background-color: #fff;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.p-text-suqrea {
    display: flex;
    background-color: #0f172b;
    height: 110px;
    text-align: left;
    align-items: center;
}

.p-text-suqrea>p {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.p-text-suqrea1 {
    display: flex;
    background-color: #e7f1fd;
    height: 110px;
    text-align: left;
    align-items: center;
}

.p-text-suqrea1>p {
    font-size: 22px;
    font-weight: bold;
    color: #222222;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

.client-cmt-blog {
    margin-top: 40px;
    background-color: #fff;
    padding: 30px;
}

.new-left-blog1>h2 {
    font-size: 35px;
    font-weight: bold;
    color: #0f172b;
    margin: 20px 0px;
}

.new-left-blog1>h2>p {
    color: #fea116;
    font-weight: 900;
}

.txt-new-left-item {
    background: #8c8c8c;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.txt-new-left-item1>h3 {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.txt-new-left-item1>span {
    font-size: 18px;
    line-height: 40px;
}

.txt-new-left-item1 {
    font-size: 17px;
    line-height: 26px;
    color: #666565;
}

.btn-blog-repply {
    border: none;
    color: #666565;
    background-color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}

.btn-blog-repply:hover {
    color: #fea116;
}

.clas1 {
    margin: 15px 0px;
}

.txt-new-left-item {
    margin: 15px 0px;
}

.txt-new-left-item:nth-last-child(2) {
    margin-left: 50px;
}

.clas1:nth-last-child(2) {
    margin-left: 40px;
}

.form-blog {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
}

.h1-form {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #0f172b;
    line-height: 38px;
}

.form-item-txt {
    position: relative;
}

.form-item-txt>input {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border: 2px solid #e9ebef86;
    padding: 0 20px;
}

.far-i-form {
    position: absolute;
    right: 20px;
    top: 30px
}

.form-item-txt:hover {
    color: #fea116;
    border: 2px solid #fea116;
}

.form-item-txt-write:hover {
    color: #fea116;
    border: 2px solid #fea116;
}

.form-item-txt-write {
    position: relative;
    margin: 20px 0;
}

.form-item-txt-write>input {
    width: 100%;
    height: 130px;
    line-height: 70px;
    border: 2px solid #e9ebef86;
    padding: 0 20px;
}

.btn-box-blog>button {
    background-color: #fea116;
    color: #fff;
    border: none;
    width: 220px;
    height: 65px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: bold;
}

.btn-box-blog>button:hover {
    color: #000000;
    background-color: aquamarine;
}


/*col4 reig*/


/*
.circle-blog {
    background: #8c8c8c;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-right: 20px;
}

.new-right-blog {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
}

.new-right-blog>p {
    font-size: 25px;
    font-weight: 900;
    color: #fea116;
}

.all-squera-cate {
    padding: 20px;
} */


/*header*/


/*foter*/


/*
.footer-top {
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: #f1f8ff;
    color: #f1f8ff;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.footer-top1 {
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.foot-top1 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.foot-top1 img {
    font-size: 40px;
    color: black;
    padding: 15px 0px;
}

.footer-blog {
    margin: 0 auto;
    background-color: #fea116;
} */
