<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Deatils</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body>
    <div class="poster-big">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="poster">
                        <div class="text-shadow">
                            <p> Avson</p>
                        </div>
                        <div class="title-sm">
                            <p> Welcome to Avason</p>
                        </div>
                        <div class="title-big">
                            <p> Blog</p>
                        </div>
                        <div class="get-startd">
                            <button type="button">GET STARTED -></button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="poster">
                        <div class="text-shadow">
                            <p> Avson</p>
                        </div>
                        <div class="title-sm">
                            <p> Welcome to Avason</p>
                        </div>
                        <div class="title-big">
                            <p> Blog</p>
                        </div>
                        <div class="get-startd">
                            <button type="button">GET STARTED -></button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="z-index: 100;">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="z-index: 100;">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
        </div>
    </div>
    <div>
        <main class="main-blog">
            <div class="main-room1">
                <div class="container">
                    <div class="row">
                        <!-- col8 -->
                        <div class="col-8 col-md-8 col-sm-12 col-12">
                            <div class="bld-img-top">
                                <img src="{{data1.Image}}" alt="">
                            </div>
                            <div class="content-col8-blog">
                                <ul class="nav ul-blog-top">
                                    <li>
                                        <a href=""><i class="fas fa-book-reader fas-i-blog"></i>Somalia Alexz</a>
                                    </li>
                                    <li><a href=""><i class="fas fa-calendar-alt fas-i-blog"></i>20 Jan 2020</a></li>
                                </ul>
                                <div class="title-blog-ul">
                                    <h2>Taming Advanced Color Palettes In Photo Sketch And Affinity Designer Challenge</h2>
                                    <p>But we ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor reprehendermust explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the
                                        actual teachings of the great explorer of the truth, the mas ter-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is plea sure, but because those who do not know how to
                                        pursue pleasure rationally encounter conse quences that are extremely painful. Nor again is there anyone</p>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="sub-conten-blog"></div>
                                    </div>
                                    <div class="col-6">
                                        <div class="sub-conten-blog"></div>
                                    </div>
                                </div>
                                <div class="text-motto">
                                    <h3>Avoids pleasure itself because it pleasure but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful again</h3>
                                    <p>Tony R.Francois</p>
                                </div>
                                <div class="author-tag">
                                    <div class="row">
                                        <div class="col-6 col-md-6 col-sm-12 col-12">
                                            <div class="author-popular nav">
                                                <p>PopularTag: &nbsp;</p><span> Hotel, Luxury, Living</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-sm-12 col-12">
                                            <div class="logo-social nav">
                                                <p>Share &nbsp;</p>
                                                <div class="social-item-blog">
                                                    <i class="fab fa-facebook-f"></i>
                                                </div>
                                                <div class="social-item-blog">
                                                    <i class="fab fa-twitter"></i>
                                                </div>
                                                <div class="social-item-blog">
                                                    <i class="fab fa-google-plus-g"></i>
                                                </div>
                                                <div class="social-item-blog">
                                                    <i class="fab fa-instagram"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="squera-two-blog">
                                <div class="row">
                                    <div class="col-6 col-md-6 col-sm-12 col-12">

                                        <div class="p-text-suqrea">
                                            <p>Building Pub Sub Service Using Node And Redis</p>
                                        </div>

                                    </div>
                                    <div class="col-6 col-md-6 col-sm-12 col-12">
                                        <div class="p-text-suqrea1">
                                            <p>Once Upon Timey Storyis For Better Enga gement</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-cmt-blog">
                                <div class="new-left-blog1">
                                    <h2>
                                        Client's Comments
                                        <p>___ _____</p>
                                    </h2>
                                    <div class="txt-new-left-blog">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="nav txt-new-left-item "></div>
                                                <div class="nav txt-new-left-item "></div>
                                                <div class="nav txt-new-left-item "></div>
                                            </div>
                                            <div class="col-9">
                                                <div class="clas1">
                                                    <div class="nav txt-new-left-item1 ">
                                                        <h3>Alexzeder Alex &nbsp;</h3>
                                                        <span>25 Fed 2020</span>
                                                    </div>
                                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account</p>
                                                    <button class="btn-blog-repply">REPLY COMMETS <i class="fas fa-arrow-right"></i></button>
                                                </div>
                                                <div class="clas1">
                                                    <div class="nav txt-new-left-item1 ">
                                                        <h3>Desikn Maka Pol &nbsp;</h3>
                                                        <span>25 Fed 2020</span>
                                                    </div>
                                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure praising pain was born and I will give you a complete account</p>
                                                    <button class="btn-blog-repply">REPLY COMMETS <i class="fas fa-arrow-right"></i></button>
                                                </div>
                                                <div class="clas1">
                                                    <div class="nav txt-new-left-item1 ">
                                                        <h3>Josse T. Williams &nbsp;</h3>
                                                        <span>25 Fed 2020</span>
                                                    </div>
                                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account</p>
                                                    <button class="btn-blog-repply">REPLY COMMETS <i class="fas fa-arrow-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-blog">
                                <div class="register-form">
                                    <form action="" method="post">
                                        <div class="h1-form">
                                            <h1>Send A Message</h1>
                                        </div>
                                        <div class="input-box">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-item-txt">
                                                        <input type="text" placeholder="Your Full Name">
                                                        <i class="far fa-user far-i-form"></i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-item-txt">
                                                        <input type="text" placeholder="Your Email">
                                                        <i class="far fa-envelope far-i-form"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-box">
                                            <div class="form-item-txt-write">
                                                <input type="text" placeholder="Write Message">
                                                <i class="fas fa-pen far-i-form"></i>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="btn-box-blog">
                                            <button type="submit">
                                               SEND MESSAGE &nbsp;<i class="fas fa-arrow-right"></i>

                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- <--/*col4*/-->
                        <div class="col-4 col-md-4 col-sm-12 col-12">
                            <div class="square-right-room square-right-blog">
                                <div class="container">
                                    <div class="form-rigt-blog">
                                        <h3>Search Here</h3>
                                        <div class="form-item-blog">
                                            <div class="input-item">
                                                <input class="input-form-room" type="search" placeholder=" Key Search">
                                            </div>
                                            <div class="i-input-form i-input-form-blog ">
                                                <button> <i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="new-right-blog">
                                <h2>Latest News</h2>
                                <p>___ _______</p>
                                <div class="circle-all">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="circle-blog">
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <h3>Quick Win For Impre Perfor Securitys</h3>
                                            <p>05 Fed 2020</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="circle-all">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="circle-blog">
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <h3>Quick Win Imprefora Security Web ses</h3>
                                            <p>05 Fed 2020</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="circle-all">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="circle-blog">
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <h3>We've Got Announce ment Make Rachel</h3>
                                            <p>05 Fed 2020</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col4-item-category col4-category-blog ">
                                <div class="container all-squera-cate ">
                                    <h2>Category</h2>
                                    <div class="col4-squera-category">
                                        <div class="text-category">Luxury Room</div>
                                    </div>
                                    <div class="col4-squera-category">
                                        <div class="text-category">Couple Room</div>
                                    </div>
                                    <div class="col4-squera-category">
                                        <div class="text-category">Hotel views</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tag-populer-blog1">
                                <div class="tag-populer-blog">
                                    <h2>Populer Tag
                                    </h2>
                                    <p>__ ____</p>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <button class="btn-blog-populer btn-color-blog col-4">Cleaning</button>
                                        <button class="btn-blog-populer btn-color-blog col-4">Business</button>
                                        <button class="btn-blog-populer btn-color-blog col-4">Booking</button>
                                    </div>
                                    <div class="row">
                                        <button class="btn-blog-populer1 btn-color-blog col-4">Car</button>
                                        <button class="btn-blog-populer1 btn-color-blog col-4">House</button>
                                        <button class="btn-blog-populer1 btn-color-blog col-4">Apartment</button>
                                    </div>
                                    <div class="row">
                                        <button class="btn-blog-populer2 btn-color-blog col-4">Washinh</button>
                                        <button class="btn-blog-populer2 btn-color-blog col-4">Agency</button>
                                        <button class="btn-blog-populer2 btn-color-blog col-4">Listing</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col4-bootom-childs">
                                <div class="container ">
                                    <div class="item-col4-bootom-childs">
                                        <h2>Booking Your Latest apartment
                                        </h2>
                                        <p>
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit sed do eiusmod tempor incididunt ut labore
                                        </p>
                                        <button class="btn-book">BOOK NOW <i class="fas btn-i-room fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <!-- <script src="js/app.js"></script> -->

</body>

</html>
