/* .poster {
    height: 600px;
    background-color: #404551;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title-sm p {
    font-size: 40px;
    margin: 0px;
    z-index: 2;
}

.title-sm {
    z-index: 2;
    margin-bottom: 40px;
}

.title-big p {
    margin-right: 0px;
    font-size: 170px;
    padding: 0px;
    z-index: 6;
}

.title-big {
    z-index: 5;
    margin-top: -50px;
}

.get-startd button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
}

.get-startd {
    z-index: 8;
}

.text-shadow {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-shadow p {
    color: #404551;
    display: flex;
    font-size: 280px;
    -webkit-text-stroke: 0.5px #717379;
}

.main-container {
    position: relative;
}

.booking {
    position: absolute;
    top: -1%;
    margin: 0 auto;
    width: 80%;
    background-color: #f1f8ff;
    left: 50%;
    transform: translateX(-50%);
}

.book-form {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    padding: 50px 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.col-book {
    margin: 0 auto;
    height: 80px;
    padding: 0px 15px;
    margin-bottom: 25px;
}

.input-wrap>select,
.input-wrap>input {
    height: 80px;
    font-weight: 600;
    color: #0f172b;
    font-size: 18px;
    width: 100%;
    border: none;
}

.book-now {
    border: none;
    background-color: #fea116;
    width: 100%;
    color: #ffff;
    padding: 0px;
}

.input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffff;
    line-height: 80px;
    border: 3px solid #eaedf4;
    padding: 0px 20px;
    border-radius: 10px;
    font-weight: 600px;
}

.col-book:nth-child(6)>.input-wrap {
    padding: 0px;
}

.input-wrap input {
    border: none;
}

.content1 {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding-top: 400px;
    margin-bottom: 100px;
}

.content1-left {
    padding: 0px;
    position: relative;
}

.box-blue {
    width: 95%;
    height: 550px;
    background-color: #1e2c8a;
    padding: 0px;
}

.box-orange {
    color: #ffff;
    background-color: #fea116;
    padding: 30px;
    width: 55%;
    height: 200px;
    position: absolute;
    bottom: -5%;
    right: 0%;
    box-sizing: border-box;
}

.box-orange-icon i {
    font-size: 40px;
}

.box-orange-title h2 {
    font-size: 22px;
    margin-top: 15px;
}

.box-orange-title {
    font-size: 13px;
}

.box-orange-icon img {
    color: #ffff;
    background-color: #dfe9f4;
}

.content1-right {
    box-sizing: border-box;
    padding-left: 80px;
}

.title1-right span {
    color: #fea116;
    font-weight: 600;
}

.title1-right h1 {
    font-weight: 600;
    font-size: 40px;
}

.content1-right-1_1 {
    display: flex;
    flex-direction: column;
}

.content1-right-1_1 img {
    width: 70px;
    height: 70px;
}

.content1-right-1_1 b {
    font-size: 50px;
    font-weight: 600;
}

.content1-right-1_1 span {
    font-weight: 400;
}

.content2 {
    margin-top: 200px;
    width: 100%;
    background-color: #f1f8ff;
    margin-bottom: 200px;
}

.content2-main {
    padding: 100px 70px;
    position: relative;
    z-index: 1;
}

.content2-1 {
    color: #ffff;
    padding-left: 20px;
}

.content2-main::after {
    position: absolute;
    background-color: #0f172b;
    left: 0;
    width: 37.5%;
    top: 0;
    content: '';
    height: 100%;
    z-index: -1;
}

.title2-1 h1 {
    font-weight: 600px;
    font-size: 50px;
}

.content2-2 .col-xl-4 {
    padding: 0px 15px;
}

.cont2-2 {
    background-color: #ffff;
}

.note2-1 h2 {
    color: #fea116;
    font-size: 24px;
    margin-top: 50px;
}

.des2-1-1 {
    font-size: 18px;
}

.des2-1-2 p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.des2-1-2 span {
    font-size: 30px;
}

.content2-2-1 {
    width: 100%;
    background-color: #404551;
    height: 200px;
}

.cont2-2-fot {
    position: relative;
}

.cont2-2-fot>p {
    position: absolute;
    height: 40px;
    width: 150px;
    background-color: #fea116;
    color: #ffff;
    font-size: 18px;
    border-radius: 5px;
    bottom: -16%;
    left: 8%;
    line-height: 40px;
}

.text2-2 {
    padding: 30px;
}

.title2-2 h2 {
    font-size: 28px;
    margin-top: 20px;
    font-weight: 800px;
}

.des2-2 p {
    font-size: 16px;
    margin-top: 20px;
}

.bottom2-2 {
    padding: 0px 30px 30px 30px;
}

.bottom2-2 .row .col-4 {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.price {
    background-color: #fea116;
    border-radius: 5px;
    color: #ffff;
    border: none;
}

.icon2-2-1 {
    display: flex;
    margin-bottom: 10px;
}

.icon2-2-1 i {
    color: #fea116;
}

.icon2-2-1 p {
    color: #404551;
    font-size: 13px;
}

.content3 {
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 70%;
}

.title3 {
    margin-bottom: 80px;
}

.title3-1 h2 {
    color: #fea116;
    font-size: 24px;
}

.title3-2 h1 {
    margin: 0 auto;
    font-size: 40px;
    width: 50%;
}

.des3-1 {
    justify-content: center;
}

.box1 {
    height: 330px;
    margin-bottom: 35px;
}

.box1-content {
    height: 330px;
    border: 2px solid #dfe9f4;
    padding: 50px 30px;
}

.box1-content img {
    margin-bottom: 30px;
}

.box1-title p {
    font-size: 15px;
}

.box1-bot h2 {
    font-size: 20px;
}

.box1-content:hover {
    background-color: #fea116;
    color: #ffff;
}

.box1-content:hover img {
    background-color: #ffff;
}

.content4 {
    width: 100%;
    height: 400px;
    background-color: #141b2b;
    color: #ffff;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content4-1 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title4-1 {
    padding-top: 80px;
    z-index: 5;
}

.title4-1 h1 {
    font-size: 120px;
    margin-top: -30px;
}

.button4 {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #fea116;
    color: #ffff;
}

.des4 {
    position: absolute;
    top: 4%;
    -webkit-text-stroke: 0.5px #717379;
    color: #0f172b;
    z-index: 1;
}

.des4 p {
    font-size: 180px;
} */
