* {
    box-sizing: border-box;
}

.container-fluid {
    /* width: 100%; */
    padding: 0px;
}

.contact {
    display: flex;
}

.nav-top {
    display: flex;
    padding: 20px;
}

.contact a {
    color: #717379;
}

.about {
    float: right;
}

.contact i {
    color: #fea116;
}

a:hover {
    color: #fea116;
}

.about>i,
a {
    margin-right: 10px;
    text-decoration: none;
    color: #717379;
    cursor: pointer;
}

.about>a :hover {
    color: #fea116;
    cursor: pointer;
}

.navbar-bottom {
    background-color: #0f172b;
    color: #ffff;
    width: 100%;
    margin: 0px;
}

.nav-bot {
    padding: 0px;
    display: flex;
}

.nav-right {
    display: inline-block;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
}

.nav-item:nth-child(1) {
    margin-left: auto;
}

.navbar-toggler {
    background-color: #ffff;
}

.nav-item>a {
    color: #ffff;
}

.fa-circle {
    font-size: 20px;
    color: #1e2c8a;
    text-align: center;
}

.nav-bot .search-btn button {
    background-color: #0f172b;
    color: #ffff;
    border: none;
}

.get-quote {
    background-color: #fea116;
    display: flex;
    height: 100px;
    line-height: 100px;
    padding: 0px 20px;
    border: none;
    box-sizing: border-box;
}

.navbar-big {
    position: relative;
}

.logo {
    position: relative;
    top: 50%;
    left: 4%;
    transform: translate(0%, -50%);
}

.img-content {
    background-color: #fea116;
    border-radius: 50px;
    color: #ffff;
    width: 300px;
    height: 100px;
}

.img-content img {
    color: #ffff;
    margin-right: 10px;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-content-sm h1 {
    margin: 0px;
    font-size: 40px;
}

.img-content-sm p {
    margin-top: -5px;
    font-size: 12px;
}

.poster {
    height: 700px;
    background-color: #404551;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.title-sm p {
    font-size: 40px;
    margin: 0px;
    z-index: 2;
}

.title-sm {
    z-index: 2;
    margin-bottom: 40px;
}

.title-big p {
    margin-right: 0px;
    font-size: 170px;
    padding: 0px;
    z-index: 6;
}

.title-big {
    z-index: 5;
    margin-top: -50px;
}

.get-startd button {
    border-radius: 50px;
    background-color: #fea116;
    padding: 10px;
    color: #ffff;
    border: none;
    font-size: 15px;
    padding: 15px 30px;
}

.get-startd {
    z-index: 8;
}

.text-shadow {
    position: absolute;
    display: flex;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-shadow p {
    color: #404551;
    display: flex;
    font-size: 280px;
    -webkit-text-stroke: 0.5px #717379;
}

.main-container {
    position: relative;
}

.booking {
    position: absolute;
    top: -1%;
    margin: 0 auto;
    width: 80%;
    background-color: #f1f8ff;
    left: 50%;
    transform: translateX(-50%);
}

.book-form {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    padding: 50px 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.col-book {
    margin: 0 auto;
    height: 80px;
    padding: 0px 15px;
    margin-bottom: 25px;
}

.input-wrap>select,
.input-wrap>input {
    height: 80px;
    font-weight: 600;
    color: #0f172b;
    font-size: 18px;
    width: 100%;
    border: none;
}

.book-now {
    border: none;
    background-color: #fea116;
    width: 100%;
    color: #ffff;
    padding: 0px;
}

.input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffff;
    line-height: 80px;
    border: 3px solid #eaedf4;
    padding: 0px 20px;
    border-radius: 10px;
    font-weight: 600px;
}

.col-book:nth-child(6)>.input-wrap {
    padding: 0px;
}

.input-wrap input {
    border: none;
}

.content1 {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding-top: 400px;
    margin-bottom: 100px;
}

.content1-left {
    padding: 0px;
    position: relative;
}

.box-blue {
    width: 95%;
    height: 550px;
    background-color: #1e2c8a;
    padding: 0px;
}

.box-orange {
    color: #ffff;
    background-color: #fea116;
    padding: 30px;
    width: 55%;
    height: 200px;
    position: absolute;
    bottom: -5%;
    right: 0%;
    box-sizing: border-box;
}

.box-orange-icon i {
    font-size: 40px;
}

.box-orange-title h2 {
    font-size: 22px;
    margin-top: 15px;
}

.box-orange-title {
    font-size: 13px;
}

.box-orange-icon img {
    color: #ffff;
    background-color: #dfe9f4;
}

.content1-right {
    box-sizing: border-box;
    padding-left: 80px;
}

.title1-right span {
    color: #fea116;
    font-weight: 600;
}

.title1-right h1 {
    font-weight: 600;
    font-size: 40px;
}

.content1-right-1_1 {
    display: flex;
    flex-direction: column;
}

.content1-right-1_1 img {
    width: 70px;
    height: 70px;
}

.content1-right-1_1 b {
    font-size: 50px;
    font-weight: 600;
}

.content1-right-1_1 span {
    font-weight: 400;
}

.content2 {
    margin-top: 200px;
    width: 100%;
    background-color: #f1f8ff;
    margin-bottom: 200px;
}

.content2-main {
    padding: 100px 70px;
    position: relative;
    z-index: 1;
}

.content2-1 {
    color: #ffff;
    padding-left: 20px;
}

.content2-main::after {
    position: absolute;
    background-color: #0f172b;
    left: 0;
    width: 37.5%;
    top: 0;
    content: '';
    height: 100%;
    z-index: -1;
}

.title2-1 h1 {
    font-weight: 600px;
    font-size: 50px;
}

.content2-2 .col-xl-4 {
    padding: 0px 15px;
}

.cont2-2 {
    background-color: #ffff;
}

.note2-1 h2 {
    color: #fea116;
    font-size: 24px;
    margin-top: 50px;
}

.des2-1-1 {
    font-size: 18px;
}

.des2-1-2 p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.des2-1-2 span {
    font-size: 30px;
}

.content2-2-1 {
    width: 100%;
    background-color: #404551;
    height: 200px;
}

.cont2-2-fot {
    position: relative;
}

.cont2-2-fot>p {
    position: absolute;
    height: 40px;
    width: 150px;
    background-color: #fea116;
    color: #ffff;
    font-size: 18px;
    border-radius: 5px;
    bottom: -16%;
    left: 8%;
    line-height: 40px;
}

.text2-2 {
    padding: 30px;
}

.title2-2 h2 {
    font-size: 28px;
    margin-top: 20px;
    font-weight: 800px;
}

.des2-2 p {
    font-size: 16px;
    margin-top: 20px;
}

.bottom2-2 {
    padding: 0px 30px 30px 30px;
}

.bottom2-2 .row .col-4 {
    padding: 0px;
    display: flex;
    justify-content: center;
}

.price {
    background-color: #fea116;
    border-radius: 5px;
    color: #ffff;
    border: none;
}

.icon2-2-1 {
    display: flex;
    margin-bottom: 10px;
}

.icon2-2-1 i {
    color: #fea116;
}

.icon2-2-1 p {
    color: #404551;
    font-size: 13px;
}

.content3 {
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    width: 70%;
}

.title3 {
    margin-bottom: 80px;
}

.title3-1 h2 {
    color: #fea116;
    font-size: 24px;
}

.title3-2 h1 {
    margin: 0 auto;
    font-size: 40px;
    width: 50%;
}

.des3-1 {
    justify-content: center;
}

.box1 {
    height: 330px;
    margin-bottom: 35px;
}

.box1-content {
    height: 330px;
    border: 2px solid #dfe9f4;
    padding: 50px 30px;
}

.box1-content img {
    margin-bottom: 30px;
}

.box1-title p {
    font-size: 15px;
}

.box1-bot h2 {
    font-size: 20px;
}

.box1-content:hover {
    background-color: #fea116;
    color: #ffff;
}

.box1-content:hover img {
    background-color: #ffff;
}

.content4 {
    width: 100%;
    height: 400px;
    background-color: #141b2b;
    color: #ffff;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content4-1 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title4-1 {
    padding-top: 80px;
    z-index: 5;
}

.title4-1 h1 {
    font-size: 120px;
    margin-top: -30px;
}

.button4 {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #fea116;
    color: #ffff;
}

.des4 {
    position: absolute;
    top: 4%;
    -webkit-text-stroke: 0.5px #717379;
    color: #0f172b;
    z-index: 1;
}

.des4 p {
    font-size: 180px;
}

.footer-container {
    background-color: #0f172b;
    width: 100%;
}

.footer-top {
    margin-top: 100px;
    width: 100%;
    height: auto;
    background-color: #f1f8ff;
    color: #f1f8ff;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.footer-top1 {
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.foot-top1 {
    justify-content: center;
    display: flex;
    align-items: center;
}

.foot-top1 img {
    font-size: 40px;
    color: black;
    padding: 15px 0px;
}

.footer-big {
    width: 100%;
    color: #ffff;
}

.footer-big1 {
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
}

.foot-logo {
    background-color: #fea116;
    width: 280px;
    height: 100px;
    background-color: #fea116;
    border-radius: 50px;
    color: #ffff;
    margin-bottom: 20px;
}

.foot-des1-1,
.foot-des-1-2,
.des-1-3-1 {
    font-size: 13px;
    color: #717379;
}

.foot-icon4-1-1 {
    display: flex;
}

.icon-mini {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #717379;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #717379;
}

.icon-mini:hover {
    background-color: #fea116;
    color: #ffff;
    cursor: pointer;
}

.footer-big1>.foot-big1:nth-child(2) {
    padding: 0px 20px;
}

.foot-title1-2 h2 {
    margin-bottom: 20px;
}

.foot-des-1-2 p:hover {
    color: #fea116;
    box-shadow: 0 2px #fea116;
    cursor: pointer;
}

.foot-des-1-3-1 {
    display: flex;
}

.box-while {
    width: 120px;
    height: 80px;
    background-color: #ffff;
    border-radius: 5px;
    margin-right: 20px;
}

.des-1-3-1>p:nth-child(1):hover {
    color: #ffff;
    cursor: pointer;
}

.footer-big1>.foot-big1:nth-child(3) {
    padding-left: 40px;
}

.footer-big1>.foot-big1>h2 {
    margin-bottom: 20px;
}

.foot-big {
    width: 100%;
}

.line {
    background-color: #717379;
    height: 1px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.footer-big2 {
    background-color: #0f172b;
    margin: 0 auto;
    display: flex;
    width: 70%;
    height: 50px;
    justify-content: space-between;
}

.foot-2-1 {
    display: flex;
}

.foot-2-1 p {
    margin-right: 20px;
    color: #717379;
}

.foot-2-1>p:hover {
    color: #ffff;
    cursor: pointer;
}

.foot-2-2 p {
    color: #717379;
}

@media (min-width: 1200px) {}
