<div id="header">
    <div class="poster-big">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="poster">
                        <div class="text-shadow">
                            <p> Avson</p>
                        </div>
                        <div class="title-sm">
                            <p> Welcome to Avason</p>
                        </div>
                        <div class="title-big">
                            <p> Luxury Living</p>
                        </div>
                        <div class="get-startd">
                            <button type="button">GET STARTED -></button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="poster">
                        <div class="text-shadow">
                            <p> Avson</p>
                        </div>
                        <div class="title-sm">
                            <p> Welcome to Avason</p>
                        </div>
                        <div class="title-big">
                            <p> Luxury Living</p>
                        </div>
                        <div class="get-startd">
                            <button type="button">GET STARTED -></button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="z-index: 100;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="z-index: 100;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
    </div>
</div>
<div id="main"></div>
<div class="container-fluid">
    <main>
        <div class="main-container ">
            <div class="booking ">
                <div class="book-form row">
                    <div class="col-book col-lg-4 col-md-6">
                        <div class="input-wrap">
                            <input type="text" placeholder="Location" id="location">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="col-book col-lg-4 col-md-6">
                        <div class="input-wrap">
                            <input type="text" placeholder="Arrivate Date" id="arrivate-date">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                    <div class="col-book col-lg-4 col-md-6">
                        <div class="input-wrap">
                            <input type="text" placeholder="Depart Date" id="depart-date">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                    </div>
                    <div class="col-book col-lg-4 col-md-6">
                        <div class="input-wrap">
                            <select name="guests" id="guests">
                                    <option value="Guests">Guests</option>
                                    <option value="Guests">Guests</option>
                                    <option value="Guests">Guests</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-book col-lg-4 col-md-6">
                        <div class="input-wrap">
                            <select name="" id="adult">
                                    <option value="Guests">Adult</option>
                                    <option value="Guests">Adult</option>
                                    <option value="Guests">Adult</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-book col-lg-4 col-md-6">
                        <div class="input-wrap">
                            <button type="submit" class="book-now">BOOK NOW -></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content1 row align-items-center">
                <div class="content1-left col-lg-6 col-md-12">
                    <div class="box-blue">
                    </div>
                    <div class="box-orange">
                        <div class="box-orange-icon">
                            <i class="fas fa-school"></i>
                        </div>
                        <div class="box-orange-title">
                            <h2>Luxury Interior</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia adipisci eos velit incidunt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content1-right col-lg-6 col-md-12">
                    <div class="title1-right">
                        <div class="br"></div>
                        <span>About Us</span>
                        <h1>Welcome To Avson Modern Hotel Room Sells Services</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo recusandae exercitationem consequatur esse cumque eveniet numquam dolorum a ipsa quisquam saepe reiciendis eos</p>
                    </div>
                    <div class="content1-right-1 row">
                        <div class="content1-right-1_1 col-4">
                            <img src="assets/img/img-home/Icon4.png" alt="">

                            <b>506</b>
                            <span>Luxury Appartment</span>
                        </div>
                        <div class="content1-right-1_1 col-4">
                            <img src="assets/img/img-home/Icon5.png" alt="">
                            <b>352</b>
                            <span>Modern Bedroom</span>
                        </div>
                        <div class="content1-right-1_1 col-4">
                            <img src="assets/img/img-home/icon6.png" alt="">
                            <b>420</b>
                            <span>Wint Awards</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="content2 ">
                <div class="content2-main">
                    <div class=" row">
                        <div class="content2-1 col-lg-3">
                            <div class="note2-1">
                                <h2>- Last Product</h2>
                            </div>
                            <div class="text2-1">
                                <div class="title2-1">
                                    <h1>Modern Hotel & Room For Luxury Living</h1>
                                </div>
                                <div class="des2-1-1">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque neque harum nesciunt ipsum numquam eveniet officia similique </p>
                                </div>
                                <div class="des2-1-2">
                                    <span>01/</span>
                                    <sub>06</sub>
                                </div>
                            </div>
                        </div>
                        <div class="content2-2 col-lg-8 offset-lg-1">
                            <div class="content2-2 row">
                                <div class="col-xl-4">
                                    <div class="cont2-2">
                                        <div class="cont2-2-fot">
                                            <div class="content2-2-1"></div>
                                            <p>Guest House</p>
                                        </div>
                                        <div class="text2-2">
                                            <div class="title2-2">
                                                <h2>Modern Guest Rooms</h2>
                                            </div>
                                            <div class="des2-2">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, fugit magnam. Aliquam id dicta nemo ducimus </p>
                                            </div>
                                        </div>
                                        <div class="bottom2-2">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-bed"></i>
                                                        <p>3 Bed</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-bath"></i>
                                                        <p>2 Baths</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-ruler-combined"></i>
                                                        <p>72m</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="price">$180.000</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="cont2-2">
                                        <div class="cont2-2-fot">
                                            <div class="content2-2-1"></div>
                                            <p>Guest House</p>
                                        </div>
                                        <div class="text2-2">
                                            <div class="title2-2">
                                                <h2>Modern Guest Rooms</h2>
                                            </div>
                                            <div class="des2-2">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, fugit magnam. Aliquam id dicta nemo ducimus </p>
                                            </div>
                                        </div>
                                        <div class="bottom2-2">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-bed"></i>
                                                        <p>3 Bed</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-bath"></i>
                                                        <p>2 Baths</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-ruler-combined"></i>
                                                        <p>72m</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="price">$180.000</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="cont2-2">
                                        <div class="cont2-2-fot">
                                            <div class="content2-2-1"></div>
                                            <p>Guest House</p>
                                        </div>
                                        <div class="text2-2">
                                            <div class="title2-2">
                                                <h2>Modern Guest Rooms</h2>
                                            </div>
                                            <div class="des2-2">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, fugit magnam. Aliquam id dicta nemo ducimus </p>
                                            </div>
                                        </div>
                                        <div class="bottom2-2">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-bed"></i>
                                                        <p>3 Bed</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-bath"></i>
                                                        <p>2 Baths</p>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="icon2-2-1">
                                                        <i class="fas fa-ruler-combined"></i>
                                                        <p>72m</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="price">$180.000</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content3">
                <div class="title3">
                    <div class="title3-1">
                        <h2>Our Services</h2>
                    </div>
                    <div class="title3-2">
                        <h1>We Provide Most Exclisive Hotel & Room Services</h1>
                    </div>
                </div>
                <div class="des3-1 row">
                    <div class=" col-lg-4 col-md-6 box1" *ngFor="let p of content3">
                        <div class="box1-content">
                            <img src="{{p.img}}" alt="">
                            <div class="box1-title">
                                <h3>Room & Appartment</h3>
                                <p>Great explorer of the truth the ter-blde human happynies one reject</p>
                            </div>
                            <div class="box1-bot">
                                <h2>RAED MORE -></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content4">
                <div class="content4-1">
                    <div class="title4-1">
                        <h2>Looking For Luxury Hotel</h2>
                        <h1>Booking Now</h1>
                    </div>
                    <button class="button4">BOOKING NOW -></button>
                    <div class="des4">
                        <p>Avson</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
